LD_RUNPATH_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Carthage/Build/Mac $(BUILT_PRODUCTS_DIR)/SylvesterXPCTests.xctest/Contents/Frameworks $(BUILT_PRODUCTS_DIR)/Sandbox.app/Contents/Frameworks $(BUILT_PRODUCTS_DIR)/Sandbox.app/Contents/Frameworks/SylvesterXPC.framework/Versions/A/Frameworks
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG XPC
