{
  "key.substructure" : [
    {
      "key.namelength" : 9,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "AProtocol",
      "key.doclength" : 43,
      "key.runtime_name" : "AProtocol",
      "key.bodylength" : 122,
      "key.nameoffset" : 228,
      "key.docoffset" : 152,
      "key.accessibility" : "source.lang.swift.accessibility.public",
      "key.bodyoffset" : 239,
      "key.kind" : "source.lang.swift.decl.protocol",
      "key.attributes" : [
        {
          "key.length" : 16,
          "key.attribute" : "source.decl.attribute.objc.name",
          "key.offset" : 195
        },
        {
          "key.length" : 6,
          "key.attribute" : "source.decl.attribute.public",
          "key.offset" : 212
        }
      ],
      "key.substructure" : [
        {
          "key.namelength" : 9,
          "key.filepath" : "{{ file_path }}",
          "key.setter_accessibility" : "source.lang.swift.accessibility.public",
          "key.name" : "aVariable",
          "key.bodylength" : 9,
          "key.nameoffset" : 249,
          "key.accessibility" : "source.lang.swift.accessibility.public",
          "key.typename" : "Bool",
          "key.bodyoffset" : 266,
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.length" : 31,
          "key.offset" : 245
        },
        {
          "key.namelength" : 8,
          "key.filepath" : "{{ file_path }}",
          "key.setter_accessibility" : "source.lang.swift.accessibility.public",
          "key.name" : "aClosure",
          "key.bodylength" : 9,
          "key.nameoffset" : 286,
          "key.accessibility" : "source.lang.swift.accessibility.public",
          "key.typename" : "(Int) -> Void",
          "key.bodyoffset" : 311,
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.length" : 39,
          "key.offset" : 282
        },
        {
          "key.namelength" : 11,
          "key.typename" : "() -> String",
          "key.nameoffset" : 332,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.name" : "aFunction()",
          "key.accessibility" : "source.lang.swift.accessibility.public",
          "key.length" : 32,
          "key.offset" : 327
        }
      ],
      "key.length" : 143,
      "key.offset" : 219
    },
    {
      "key.namelength" : 9,
      "key.bodylength" : 82,
      "key.substructure" : [
        {
          "key.bodylength" : 44,
          "key.namelength" : 8,
          "key.typename" : "(Int) -> Void",
          "key.bodyoffset" : 420,
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 395,
          "key.name" : "aClosure",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 74,
          "key.offset" : 391
        },
        {
          "key.namelength" : 0,
          "key.bodylength" : 21,
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "int",
              "key.length" : 3,
              "key.offset" : 439
            },
            {
              "key.namelength" : 5,
              "key.bodylength" : 3,
              "key.kind" : "source.lang.swift.expr.call",
              "key.filepath" : "{{ file_path }}",
              "key.bodyoffset" : 453,
              "key.nameoffset" : 447,
              "key.name" : "print",
              "key.length" : 10,
              "key.offset" : 447
            }
          ],
          "key.kind" : "source.lang.swift.expr.closure",
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.bodyoffset" : 437,
          "key.length" : 23,
          "key.offset" : 436
        }
      ],
      "key.kind" : "source.lang.swift.decl.extension",
      "key.filepath" : "{{ file_path }}",
      "key.bodyoffset" : 385,
      "key.nameoffset" : 374,
      "key.name" : "AProtocol",
      "key.length" : 104,
      "key.offset" : 364
    }
  ],
  "key.offset" : 0,
  "key.diagnostic_stage" : "source.diagnostic.stage.swift.parse",
  "key.length" : 469,
  "key.syntaxmap" : [
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 0
    },
    {
      "key.length" : 20,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 3
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 23
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 32
    },
    {
      "key.length" : 44,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 35
    },
    {
      "key.length" : 55,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 79
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 134
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 138
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 145
    },
    {
      "key.length" : 43,
      "key.kind" : "source.lang.swift.syntaxtype.doccomment",
      "key.offset" : 152
    },
    {
      "key.length" : 16,
      "key.kind" : "source.lang.swift.syntaxtype.attribute.builtin",
      "key.offset" : 195
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.attribute.builtin",
      "key.offset" : 212
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 219
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 228
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 245
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 249
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 260
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 267
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 271
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 282
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 286
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 297
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 305
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 312
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 316
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 327
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 332
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 353
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 364
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 374
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 391
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 395
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 406
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 414
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 429
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 439
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 444
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 447
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 453
    }
  ]
}