{
  "key.substructure" : [
    {
      "key.namelength" : 11,
      "key.elements" : [
        {
          "key.length" : 11,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 192
        },
        {
          "key.length" : 21,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 205
        }
      ],
      "key.filepath" : "{{ file_path }}",
      "key.name" : "AppDelegate",
      "key.runtime_name" : "_TtC4main11AppDelegate",
      "key.bodylength" : 2080,
      "key.nameoffset" : 179,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 228,
      "key.kind" : "source.lang.swift.decl.class",
      "key.attributes" : [
        {
          "key.length" : 18,
          "key.attribute" : "source.decl.attribute.UIApplicationMain",
          "key.offset" : 154
        }
      ],
      "key.substructure" : [
        {
          "key.namelength" : 6,
          "key.offset" : 254,
          "key.setter_accessibility" : "source.lang.swift.accessibility.private",
          "key.typename" : "UIWindow?",
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 258,
          "key.name" : "window",
          "key.accessibility" : "source.lang.swift.accessibility.public",
          "key.length" : 21,
          "key.attributes" : [
            {
              "key.length" : 6,
              "key.attribute" : "source.decl.attribute.public",
              "key.offset" : 234
            },
            {
              "key.length" : 12,
              "key.attribute" : "source.decl.attribute.setter_access.private",
              "key.offset" : 241
            }
          ]
        },
        {
          "key.namelength" : 147,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "application(_:didFinishLaunchingWithOptions:)",
          "key.bodylength" : 95,
          "key.nameoffset" : 286,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Bool",
          "key.bodyoffset" : 443,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "UIApplication",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "application",
              "key.length" : 28,
              "key.offset" : 298
            },
            {
              "key.namelength" : 29,
              "key.typename" : "[UIApplication.LaunchOptionsKey: Any]?",
              "key.nameoffset" : 349,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "launchOptions",
              "key.length" : 83,
              "key.offset" : 349
            }
          ],
          "key.length" : 258,
          "key.offset" : 281
        },
        {
          "key.bodylength" : 484,
          "key.namelength" : 57,
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "UIApplication",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "application",
              "key.length" : 28,
              "key.offset" : 578
            }
          ],
          "key.bodyoffset" : 609,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 550,
          "key.name" : "applicationWillResignActive(_:)",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 549,
          "key.offset" : 545
        },
        {
          "key.bodylength" : 399,
          "key.namelength" : 59,
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "UIApplication",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "application",
              "key.length" : 28,
              "key.offset" : 1135
            }
          ],
          "key.bodyoffset" : 1166,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 1105,
          "key.name" : "applicationDidEnterBackground(_:)",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 466,
          "key.offset" : 1100
        },
        {
          "key.bodylength" : 172,
          "key.namelength" : 60,
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "UIApplication",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "application",
              "key.length" : 28,
              "key.offset" : 1608
            }
          ],
          "key.bodyoffset" : 1639,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 1577,
          "key.name" : "applicationWillEnterForeground(_:)",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 240,
          "key.offset" : 1572
        },
        {
          "key.bodylength" : 211,
          "key.namelength" : 56,
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "UIApplication",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "application",
              "key.length" : 28,
              "key.offset" : 1850
            }
          ],
          "key.bodyoffset" : 1881,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 1823,
          "key.name" : "applicationDidBecomeActive(_:)",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 275,
          "key.offset" : 1818
        },
        {
          "key.bodylength" : 145,
          "key.namelength" : 54,
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "UIApplication",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "application",
              "key.length" : 28,
              "key.offset" : 2129
            }
          ],
          "key.bodyoffset" : 2160,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 2104,
          "key.name" : "applicationWillTerminate(_:)",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 207,
          "key.offset" : 2099
        }
      ],
      "key.inheritedtypes" : [
        {
          "key.name" : "UIResponder"
        },
        {
          "key.name" : "UIApplicationDelegate"
        }
      ],
      "key.length" : 2136,
      "key.offset" : 173
    }
  ],
  "key.offset" : 0,
  "key.diagnostic_stage" : "source.diagnostic.stage.swift.parse",
  "key.length" : 2310,
  "key.syntaxmap" : [
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 0
    },
    {
      "key.length" : 22,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 3
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 25
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 34
    },
    {
      "key.length" : 44,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 37
    },
    {
      "key.length" : 55,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 81
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 136
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 140
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 147
    },
    {
      "key.length" : 18,
      "key.kind" : "source.lang.swift.syntaxtype.attribute.builtin",
      "key.offset" : 154
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 173
    },
    {
      "key.length" : 11,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 179
    },
    {
      "key.length" : 11,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 192
    },
    {
      "key.length" : 21,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 205
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.attribute.builtin",
      "key.offset" : 234
    },
    {
      "key.length" : 12,
      "key.kind" : "source.lang.swift.syntaxtype.attribute.builtin",
      "key.offset" : 241
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 254
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 258
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 266
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 281
    },
    {
      "key.length" : 11,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 286
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 298
    },
    {
      "key.length" : 11,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 300
    },
    {
      "key.length" : 13,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 313
    },
    {
      "key.length" : 29,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 349
    },
    {
      "key.length" : 13,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 379
    },
    {
      "key.length" : 13,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 395
    },
    {
      "key.length" : 16,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 409
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 427
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 437
    },
    {
      "key.length" : 62,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 452
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 522
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 529
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 545
    },
    {
      "key.length" : 27,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 550
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 578
    },
    {
      "key.length" : 11,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 580
    },
    {
      "key.length" : 13,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 593
    },
    {
      "key.length" : 104,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 618
    },
    {
      "key.length" : 107,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 730
    },
    {
      "key.length" : 73,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 845
    },
    {
      "key.length" : 104,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 926
    },
    {
      "key.length" : 51,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 1038
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1100
    },
    {
      "key.length" : 29,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1105
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1135
    },
    {
      "key.length" : 11,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1137
    },
    {
      "key.length" : 13,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1150
    },
    {
      "key.length" : 100,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 1175
    },
    {
      "key.length" : 96,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 1283
    },
    {
      "key.length" : 21,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 1387
    },
    {
      "key.length" : 87,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 1416
    },
    {
      "key.length" : 50,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 1511
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1572
    },
    {
      "key.length" : 30,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1577
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1608
    },
    {
      "key.length" : 11,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1610
    },
    {
      "key.length" : 13,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1623
    },
    {
      "key.length" : 103,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 1648
    },
    {
      "key.length" : 48,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 1759
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1818
    },
    {
      "key.length" : 26,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1823
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1850
    },
    {
      "key.length" : 11,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1852
    },
    {
      "key.length" : 13,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1865
    },
    {
      "key.length" : 102,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 1890
    },
    {
      "key.length" : 88,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 2000
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2099
    },
    {
      "key.length" : 24,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2104
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2129
    },
    {
      "key.length" : 11,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2131
    },
    {
      "key.length" : 13,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2144
    },
    {
      "key.length" : 80,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 2169
    },
    {
      "key.length" : 44,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 2257
    }
  ]
}