{
  "key.substructure" : [
    {
      "key.namelength" : 5,
      "key.typename" : "Int",
      "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
      "key.nameoffset" : 4,
      "key.filepath" : "{{ file_path }}",
      "key.kind" : "source.lang.swift.decl.var.global",
      "key.name" : "globV",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 14,
      "key.offset" : 0
    },
    {
      "key.namelength" : 3,
      "key.runtime_name" : "_TtC4main3CC0",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "CC0",
      "key.bodylength" : 20,
      "key.nameoffset" : 22,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 27,
      "key.kind" : "source.lang.swift.decl.class",
      "key.substructure" : [
        {
          "key.namelength" : 1,
          "key.typename" : "Int",
          "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
          "key.nameoffset" : 36,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.name" : "x",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 14,
          "key.offset" : 32
        }
      ],
      "key.length" : 32,
      "key.offset" : 16
    },
    {
      "key.namelength" : 2,
      "key.runtime_name" : "_TtC4main2CC",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "CC",
      "key.bodylength" : 258,
      "key.nameoffset" : 55,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 59,
      "key.kind" : "source.lang.swift.decl.class",
      "key.substructure" : [
        {
          "key.namelength" : 5,
          "key.typename" : "CC0",
          "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
          "key.nameoffset" : 68,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.name" : "instV",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 14,
          "key.offset" : 64
        },
        {
          "key.bodylength" : 0,
          "key.namelength" : 6,
          "key.bodyoffset" : 96,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 88,
          "key.name" : "meth()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 14,
          "key.offset" : 83
        },
        {
          "key.namelength" : 33,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "instanceFunc0(_:b:)",
          "key.bodylength" : 22,
          "key.nameoffset" : 107,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Int",
          "key.bodyoffset" : 149,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "Int",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "a",
              "key.length" : 8,
              "key.offset" : 121
            },
            {
              "key.namelength" : 1,
              "key.typename" : "Float",
              "key.nameoffset" : 131,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "b",
              "key.length" : 8,
              "key.offset" : 131
            }
          ],
          "key.length" : 70,
          "key.offset" : 102
        },
        {
          "key.namelength" : 35,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "instanceFunc1(a:b:)",
          "key.bodylength" : 22,
          "key.nameoffset" : 182,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Int",
          "key.bodyoffset" : 226,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.substructure" : [
            {
              "key.namelength" : 1,
              "key.typename" : "Int",
              "key.nameoffset" : 196,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "x",
              "key.length" : 8,
              "key.offset" : 196
            },
            {
              "key.namelength" : 1,
              "key.typename" : "Float",
              "key.nameoffset" : 206,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "y",
              "key.length" : 10,
              "key.offset" : 206
            }
          ],
          "key.length" : 72,
          "key.offset" : 177
        },
        {
          "key.bodylength" : 0,
          "key.namelength" : 7,
          "key.bodyoffset" : 274,
          "key.kind" : "source.lang.swift.decl.function.method.class",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 265,
          "key.name" : "smeth()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 21,
          "key.offset" : 254
        },
        {
          "key.bodylength" : 27,
          "key.namelength" : 6,
          "key.substructure" : [
            {
              "key.namelength" : 3,
              "key.bodylength" : 0,
              "key.kind" : "source.lang.swift.expr.call",
              "key.filepath" : "{{ file_path }}",
              "key.bodyoffset" : 309,
              "key.nameoffset" : 305,
              "key.name" : "CC0",
              "key.length" : 5,
              "key.offset" : 305
            }
          ],
          "key.bodyoffset" : 288,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 280,
          "key.name" : "init()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 36,
          "key.offset" : 280
        }
      ],
      "key.length" : 269,
      "key.offset" : 49
    },
    {
      "key.namelength" : 17,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "+(_:_:)",
      "key.bodylength" : 14,
      "key.nameoffset" : 325,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "CC",
      "key.bodyoffset" : 350,
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.substructure" : [
        {
          "key.namelength" : 0,
          "key.typename" : "CC",
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "a",
          "key.length" : 6,
          "key.offset" : 327
        },
        {
          "key.namelength" : 0,
          "key.typename" : "CC0",
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "b",
          "key.length" : 6,
          "key.offset" : 335
        }
      ],
      "key.length" : 45,
      "key.offset" : 320
    },
    {
      "key.bodylength" : 47,
      "key.namelength" : 1,
      "key.substructure" : [
        {
          "key.bodylength" : 0,
          "key.namelength" : 6,
          "key.bodyoffset" : 395,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 387,
          "key.name" : "meth()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 14,
          "key.offset" : 382
        },
        {
          "key.bodylength" : 0,
          "key.namelength" : 7,
          "key.bodyoffset" : 422,
          "key.kind" : "source.lang.swift.decl.function.method.static",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 413,
          "key.name" : "smeth()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 22,
          "key.offset" : 401
        }
      ],
      "key.bodyoffset" : 377,
      "key.kind" : "source.lang.swift.decl.struct",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 374,
      "key.name" : "S",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 58,
      "key.offset" : 367
    },
    {
      "key.bodylength" : 16,
      "key.namelength" : 1,
      "key.substructure" : [
        {
          "key.namelength" : 0,
          "key.offset" : 440,
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.enumcase",
          "key.length" : 10,
          "key.substructure" : [
            {
              "key.namelength" : 5,
              "key.nameoffset" : 445,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.enumelement",
              "key.name" : "EElem",
              "key.accessibility" : "source.lang.swift.accessibility.internal",
              "key.length" : 5,
              "key.offset" : 445
            }
          ]
        }
      ],
      "key.bodyoffset" : 435,
      "key.kind" : "source.lang.swift.decl.enum",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 432,
      "key.name" : "E",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 25,
      "key.offset" : 427
    },
    {
      "key.namelength" : 4,
      "key.runtime_name" : "_TtP4main4Prot_",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "Prot",
      "key.bodylength" : 30,
      "key.nameoffset" : 463,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 469,
      "key.kind" : "source.lang.swift.decl.protocol",
      "key.substructure" : [
        {
          "key.namelength" : 19,
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "Prot",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "a",
              "key.length" : 9,
              "key.offset" : 488
            }
          ],
          "key.nameoffset" : 479,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.name" : "protMeth(_:)",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 24,
          "key.offset" : 474
        }
      ],
      "key.length" : 46,
      "key.offset" : 454
    },
    {
      "key.bodylength" : 157,
      "key.namelength" : 18,
      "key.substructure" : [
        {
          "key.namelength" : 0,
          "key.typename" : "CC",
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "a",
          "key.length" : 7,
          "key.offset" : 511
        },
        {
          "key.namelength" : 1,
          "key.typename" : "E",
          "key.nameoffset" : 520,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "b",
          "key.length" : 4,
          "key.offset" : 520
        },
        {
          "key.namelength" : 1,
          "key.nameoffset" : 536,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.local",
          "key.name" : "b",
          "key.length" : 9,
          "key.offset" : 532
        },
        {
          "key.namelength" : 6,
          "key.bodylength" : 0,
          "key.kind" : "source.lang.swift.expr.call",
          "key.filepath" : "{{ file_path }}",
          "key.bodyoffset" : 597,
          "key.nameoffset" : 590,
          "key.name" : "a.meth",
          "key.length" : 8,
          "key.offset" : 590
        },
        {
          "key.namelength" : 8,
          "key.bodylength" : 0,
          "key.kind" : "source.lang.swift.expr.call",
          "key.filepath" : "{{ file_path }}",
          "key.bodyoffset" : 612,
          "key.nameoffset" : 603,
          "key.name" : "CC.smeth",
          "key.length" : 10,
          "key.offset" : 603
        },
        {
          "key.bodylength" : 0,
          "key.namelength" : 7,
          "key.bodyoffset" : 663,
          "key.kind" : "source.lang.swift.decl.class",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 654,
          "key.name" : "LocalCC",
          "key.accessibility" : "source.lang.swift.accessibility.private",
          "key.length" : 16,
          "key.offset" : 648
        }
      ],
      "key.bodyoffset" : 527,
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 507,
      "key.name" : "foo(_:b:)",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 183,
      "key.offset" : 502
    },
    {
      "key.namelength" : 7,
      "key.nameoffset" : 697,
      "key.filepath" : "{{ file_path }}",
      "key.kind" : "source.lang.swift.decl.typealias",
      "key.name" : "CCAlias",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 22,
      "key.offset" : 687
    },
    {
      "key.namelength" : 2,
      "key.elements" : [
        {
          "key.length" : 4,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 726
        }
      ],
      "key.filepath" : "{{ file_path }}",
      "key.name" : "CC",
      "key.bodylength" : 97,
      "key.nameoffset" : 721,
      "key.kind" : "source.lang.swift.decl.extension",
      "key.bodyoffset" : 732,
      "key.substructure" : [
        {
          "key.bodylength" : 0,
          "key.namelength" : 19,
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "CCAlias",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "x",
              "key.length" : 12,
              "key.offset" : 748
            }
          ],
          "key.bodyoffset" : 763,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 742,
          "key.name" : "meth2(_:)",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 27,
          "key.offset" : 737
        },
        {
          "key.bodylength" : 0,
          "key.namelength" : 19,
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "Prot",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "a",
              "key.length" : 9,
              "key.offset" : 783
            }
          ],
          "key.bodyoffset" : 795,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 774,
          "key.name" : "protMeth(_:)",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 27,
          "key.offset" : 769
        },
        {
          "key.bodylength" : 10,
          "key.namelength" : 4,
          "key.typename" : "Int",
          "key.bodyoffset" : 817,
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 805,
          "key.name" : "extV",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 27,
          "key.offset" : 801
        }
      ],
      "key.inheritedtypes" : [
        {
          "key.name" : "Prot"
        }
      ],
      "key.length" : 119,
      "key.offset" : 711
    },
    {
      "key.namelength" : 5,
      "key.elements" : [
        {
          "key.length" : 2,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 846
        }
      ],
      "key.filepath" : "{{ file_path }}",
      "key.name" : "SubCC",
      "key.runtime_name" : "_TtC4main5SubCC",
      "key.bodylength" : 0,
      "key.nameoffset" : 838,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 850,
      "key.kind" : "source.lang.swift.decl.class",
      "key.inheritedtypes" : [
        {
          "key.name" : "CC"
        }
      ],
      "key.length" : 19,
      "key.offset" : 832
    },
    {
      "key.namelength" : 6,
      "key.typename" : "SubCC",
      "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
      "key.nameoffset" : 857,
      "key.filepath" : "{{ file_path }}",
      "key.kind" : "source.lang.swift.decl.var.global",
      "key.name" : "globV2",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 17,
      "key.offset" : 853
    },
    {
      "key.namelength" : 16,
      "key.runtime_name" : "_TtC4main16ComputedProperty",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "ComputedProperty",
      "key.bodylength" : 212,
      "key.nameoffset" : 878,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 896,
      "key.kind" : "source.lang.swift.decl.class",
      "key.substructure" : [
        {
          "key.namelength" : 5,
          "key.filepath" : "{{ file_path }}",
          "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
          "key.name" : "value",
          "key.bodylength" : 151,
          "key.nameoffset" : 905,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Int",
          "key.bodyoffset" : 918,
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.length" : 169,
          "key.offset" : 901
        },
        {
          "key.namelength" : 6,
          "key.nameoffset" : 949,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.local",
          "key.name" : "result",
          "key.length" : 14,
          "key.offset" : 945
        },
        {
          "key.namelength" : 0,
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "newVal",
          "key.length" : 6,
          "key.offset" : 1008
        },
        {
          "key.bodylength" : 10,
          "key.namelength" : 8,
          "key.typename" : "Int",
          "key.bodyoffset" : 1096,
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 1080,
          "key.name" : "readOnly",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 31,
          "key.offset" : 1076
        }
      ],
      "key.length" : 237,
      "key.offset" : 872
    },
    {
      "key.namelength" : 3,
      "key.runtime_name" : "_TtC4main3BC2",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "BC2",
      "key.bodylength" : 33,
      "key.nameoffset" : 1117,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 1122,
      "key.kind" : "source.lang.swift.decl.class",
      "key.substructure" : [
        {
          "key.bodylength" : 0,
          "key.namelength" : 19,
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "Prot",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "a",
              "key.length" : 9,
              "key.offset" : 1141
            }
          ],
          "key.bodyoffset" : 1153,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 1132,
          "key.name" : "protMeth(_:)",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 27,
          "key.offset" : 1127
        }
      ],
      "key.length" : 45,
      "key.offset" : 1111
    },
    {
      "key.namelength" : 5,
      "key.elements" : [
        {
          "key.length" : 3,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 1171
        },
        {
          "key.length" : 4,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 1176
        }
      ],
      "key.filepath" : "{{ file_path }}",
      "key.name" : "SubC2",
      "key.runtime_name" : "_TtC4main5SubC2",
      "key.bodylength" : 42,
      "key.nameoffset" : 1163,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 1182,
      "key.kind" : "source.lang.swift.decl.class",
      "key.substructure" : [
        {
          "key.namelength" : 19,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "protMeth(_:)",
          "key.bodylength" : 0,
          "key.nameoffset" : 1201,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.bodyoffset" : 1222,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "Prot",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "a",
              "key.length" : 9,
              "key.offset" : 1210
            }
          ],
          "key.attributes" : [
            {
              "key.length" : 8,
              "key.attribute" : "source.decl.attribute.override",
              "key.offset" : 1187
            }
          ],
          "key.length" : 27,
          "key.offset" : 1196
        }
      ],
      "key.inheritedtypes" : [
        {
          "key.name" : "BC2"
        },
        {
          "key.name" : "Prot"
        }
      ],
      "key.length" : 68,
      "key.offset" : 1157
    },
    {
      "key.namelength" : 3,
      "key.runtime_name" : "_TtC4main3CC2",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "CC2",
      "key.bodylength" : 136,
      "key.nameoffset" : 1233,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 1238,
      "key.kind" : "source.lang.swift.decl.class",
      "key.substructure" : [
        {
          "key.namelength" : 19,
          "key.filepath" : "{{ file_path }}",
          "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
          "key.name" : "subscript(_:)",
          "key.bodylength" : 101,
          "key.nameoffset" : 1243,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Int",
          "key.bodyoffset" : 1271,
          "key.kind" : "source.lang.swift.decl.function.subscript",
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "Int",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "i",
              "key.length" : 7,
              "key.offset" : 1254
            }
          ],
          "key.length" : 130,
          "key.offset" : 1243
        },
        {
          "key.namelength" : 0,
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "vvv",
          "key.length" : 3,
          "key.offset" : 1329
        }
      ],
      "key.length" : 148,
      "key.offset" : 1227
    },
    {
      "key.bodylength" : 123,
      "key.namelength" : 39,
      "key.substructure" : [
        {
          "key.namelength" : 0,
          "key.typename" : "ComputedProperty",
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "cp",
          "key.length" : 22,
          "key.offset" : 1388
        },
        {
          "key.namelength" : 3,
          "key.typename" : "CC2",
          "key.nameoffset" : 1412,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "sub",
          "key.length" : 8,
          "key.offset" : 1412
        },
        {
          "key.namelength" : 1,
          "key.nameoffset" : 1432,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.local",
          "key.name" : "x",
          "key.length" : 16,
          "key.offset" : 1428
        }
      ],
      "key.bodyoffset" : 1423,
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 1382,
      "key.name" : "test1(_:sub:)",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 170,
      "key.offset" : 1377
    },
    {
      "key.bodylength" : 20,
      "key.namelength" : 2,
      "key.substructure" : [
        {
          "key.bodylength" : 0,
          "key.namelength" : 6,
          "key.bodyoffset" : 1578,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 1570,
          "key.name" : "sfoo()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 14,
          "key.offset" : 1565
        }
      ],
      "key.bodyoffset" : 1560,
      "key.kind" : "source.lang.swift.decl.struct",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 1556,
      "key.name" : "S2",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 32,
      "key.offset" : 1549
    },
    {
      "key.bodylength" : 38,
      "key.namelength" : 12,
      "key.typename" : "S2",
      "key.bodyoffset" : 1606,
      "key.kind" : "source.lang.swift.decl.var.global",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 1587,
      "key.name" : "globReadOnly",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 62,
      "key.offset" : 1583
    },
    {
      "key.namelength" : 2,
      "key.bodylength" : 0,
      "key.kind" : "source.lang.swift.expr.call",
      "key.filepath" : "{{ file_path }}",
      "key.bodyoffset" : 1635,
      "key.nameoffset" : 1632,
      "key.name" : "S2",
      "key.length" : 4,
      "key.offset" : 1632
    },
    {
      "key.bodylength" : 25,
      "key.namelength" : 7,
      "key.substructure" : [
        {
          "key.namelength" : 17,
          "key.bodylength" : 0,
          "key.kind" : "source.lang.swift.expr.call",
          "key.filepath" : "{{ file_path }}",
          "key.bodyoffset" : 1684,
          "key.nameoffset" : 1666,
          "key.name" : "globReadOnly.sfoo",
          "key.length" : 19,
          "key.offset" : 1666
        }
      ],
      "key.bodyoffset" : 1661,
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 1652,
      "key.name" : "test2()",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 40,
      "key.offset" : 1647
    },
    {
      "key.namelength" : 2,
      "key.runtime_name" : "_TtC4main2B1",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "B1",
      "key.bodylength" : 19,
      "key.nameoffset" : 1695,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 1699,
      "key.kind" : "source.lang.swift.decl.class",
      "key.substructure" : [
        {
          "key.bodylength" : 0,
          "key.namelength" : 5,
          "key.bodyoffset" : 1716,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 1709,
          "key.name" : "foo()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 13,
          "key.offset" : 1704
        }
      ],
      "key.length" : 30,
      "key.offset" : 1689
    },
    {
      "key.namelength" : 3,
      "key.elements" : [
        {
          "key.length" : 2,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 1733
        }
      ],
      "key.filepath" : "{{ file_path }}",
      "key.name" : "SB1",
      "key.runtime_name" : "_TtC4main3SB1",
      "key.bodylength" : 86,
      "key.nameoffset" : 1727,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 1737,
      "key.kind" : "source.lang.swift.decl.class",
      "key.substructure" : [
        {
          "key.namelength" : 5,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "foo()",
          "key.bodylength" : 58,
          "key.nameoffset" : 1756,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.bodyoffset" : 1763,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.substructure" : [
            {
              "key.namelength" : 3,
              "key.bodylength" : 0,
              "key.kind" : "source.lang.swift.expr.call",
              "key.filepath" : "{{ file_path }}",
              "key.bodyoffset" : 1776,
              "key.nameoffset" : 1772,
              "key.name" : "foo",
              "key.length" : 5,
              "key.offset" : 1772
            },
            {
              "key.namelength" : 8,
              "key.bodylength" : 0,
              "key.kind" : "source.lang.swift.expr.call",
              "key.filepath" : "{{ file_path }}",
              "key.bodyoffset" : 1795,
              "key.nameoffset" : 1786,
              "key.name" : "self.foo",
              "key.length" : 10,
              "key.offset" : 1786
            },
            {
              "key.namelength" : 9,
              "key.bodylength" : 0,
              "key.kind" : "source.lang.swift.expr.call",
              "key.filepath" : "{{ file_path }}",
              "key.bodyoffset" : 1815,
              "key.nameoffset" : 1805,
              "key.name" : "super.foo",
              "key.length" : 11,
              "key.offset" : 1805
            }
          ],
          "key.attributes" : [
            {
              "key.length" : 8,
              "key.attribute" : "source.decl.attribute.override",
              "key.offset" : 1742
            }
          ],
          "key.length" : 71,
          "key.offset" : 1751
        }
      ],
      "key.inheritedtypes" : [
        {
          "key.name" : "B1"
        }
      ],
      "key.length" : 103,
      "key.offset" : 1721
    },
    {
      "key.bodylength" : 38,
      "key.namelength" : 22,
      "key.substructure" : [
        {
          "key.namelength" : 0,
          "key.typename" : "SB1",
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "c",
          "key.length" : 8,
          "key.offset" : 1837
        },
        {
          "key.namelength" : 1,
          "key.typename" : "S2",
          "key.nameoffset" : 1847,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "s",
          "key.length" : 5,
          "key.offset" : 1847
        },
        {
          "key.namelength" : 5,
          "key.bodylength" : 0,
          "key.kind" : "source.lang.swift.expr.call",
          "key.filepath" : "{{ file_path }}",
          "key.bodyoffset" : 1866,
          "key.nameoffset" : 1860,
          "key.name" : "test2",
          "key.length" : 7,
          "key.offset" : 1860
        },
        {
          "key.namelength" : 5,
          "key.bodylength" : 0,
          "key.kind" : "source.lang.swift.expr.call",
          "key.filepath" : "{{ file_path }}",
          "key.bodyoffset" : 1878,
          "key.nameoffset" : 1872,
          "key.name" : "c.foo",
          "key.length" : 7,
          "key.offset" : 1872
        },
        {
          "key.namelength" : 6,
          "key.bodylength" : 0,
          "key.kind" : "source.lang.swift.expr.call",
          "key.filepath" : "{{ file_path }}",
          "key.bodyoffset" : 1891,
          "key.nameoffset" : 1884,
          "key.name" : "s.sfoo",
          "key.length" : 8,
          "key.offset" : 1884
        }
      ],
      "key.bodyoffset" : 1855,
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 1831,
      "key.name" : "test3(_:s:)",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 68,
      "key.offset" : 1826
    },
    {
      "key.bodylength" : 0,
      "key.namelength" : 21,
      "key.substructure" : [
        {
          "key.namelength" : 0,
          "key.typename" : "inout Int",
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "a",
          "key.length" : 14,
          "key.offset" : 1907
        }
      ],
      "key.bodyoffset" : 1924,
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 1901,
      "key.name" : "test4(_:)",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 29,
      "key.offset" : 1896
    },
    {
      "key.namelength" : 5,
      "key.runtime_name" : "_TtP4main5Prot2_",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "Prot2",
      "key.bodylength" : 67,
      "key.nameoffset" : 1936,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 1943,
      "key.kind" : "source.lang.swift.decl.protocol",
      "key.substructure" : [
        {
          "key.namelength" : 7,
          "key.nameoffset" : 1963,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.associatedtype",
          "key.name" : "Element",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 22,
          "key.offset" : 1948
        },
        {
          "key.bodylength" : 5,
          "key.namelength" : 1,
          "key.typename" : "Int",
          "key.bodyoffset" : 1988,
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 1979,
          "key.name" : "p",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 19,
          "key.offset" : 1975
        },
        {
          "key.namelength" : 5,
          "key.nameoffset" : 2004,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.name" : "foo()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 10,
          "key.offset" : 1999
        }
      ],
      "key.length" : 84,
      "key.offset" : 1927
    },
    {
      "key.namelength" : 2,
      "key.elements" : [
        {
          "key.length" : 5,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 2025
        }
      ],
      "key.filepath" : "{{ file_path }}",
      "key.name" : "S1",
      "key.bodylength" : 67,
      "key.nameoffset" : 2020,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 2032,
      "key.kind" : "source.lang.swift.decl.struct",
      "key.substructure" : [
        {
          "key.namelength" : 7,
          "key.nameoffset" : 2047,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.typealias",
          "key.name" : "Element",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 23,
          "key.offset" : 2037
        },
        {
          "key.namelength" : 1,
          "key.typename" : "Int",
          "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
          "key.nameoffset" : 2069,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.name" : "p",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 15,
          "key.offset" : 2065
        },
        {
          "key.bodylength" : 0,
          "key.namelength" : 5,
          "key.bodyoffset" : 2097,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 2090,
          "key.name" : "foo()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 13,
          "key.offset" : 2085
        }
      ],
      "key.inheritedtypes" : [
        {
          "key.name" : "Prot2"
        }
      ],
      "key.length" : 87,
      "key.offset" : 2013
    },
    {
      "key.bodylength" : 0,
      "key.namelength" : 25,
      "key.substructure" : [
        {
          "key.namelength" : 1,
          "key.elements" : [
            {
              "key.length" : 5,
              "key.kind" : "source.lang.swift.structure.elem.typeref",
              "key.offset" : 2118
            }
          ],
          "key.kind" : "source.lang.swift.decl.generic_type_param",
          "key.filepath" : "{{ file_path }}",
          "key.inheritedtypes" : [
            {
              "key.name" : "Prot2"
            }
          ],
          "key.nameoffset" : 2114,
          "key.name" : "T",
          "key.length" : 9,
          "key.offset" : 2114
        },
        {
          "key.namelength" : 0,
          "key.typename" : "T",
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "x",
          "key.length" : 6,
          "key.offset" : 2125
        }
      ],
      "key.bodyoffset" : 2157,
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 2107,
      "key.name" : "genfoo(_:)",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 56,
      "key.offset" : 2102
    },
    {
      "key.namelength" : 5,
      "key.runtime_name" : "_TtP4main5Prot3_",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "Prot3",
      "key.bodylength" : 37,
      "key.nameoffset" : 2169,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 2176,
      "key.kind" : "source.lang.swift.decl.protocol",
      "key.substructure" : [
        {
          "key.namelength" : 19,
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "Self",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "x",
              "key.length" : 7,
              "key.offset" : 2195
            },
            {
              "key.namelength" : 0,
              "key.typename" : "Self",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "y",
              "key.length" : 7,
              "key.offset" : 2204
            }
          ],
          "key.nameoffset" : 2193,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.function.method.static",
          "key.name" : "+(_:_:)",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 31,
          "key.offset" : 2181
        }
      ],
      "key.length" : 54,
      "key.offset" : 2160
    }
  ],
  "key.offset" : 0,
  "key.diagnostic_stage" : "source.diagnostic.stage.swift.parse",
  "key.length" : 2215,
  "key.syntaxmap" : [
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 0
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 4
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 11
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 16
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 22
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 32
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 36
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 39
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 45
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 49
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 55
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 64
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 68
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 75
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 83
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 88
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 102
    },
    {
      "key.length" : 13,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 107
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 121
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 123
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 126
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 131
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 134
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 144
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 158
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 165
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 177
    },
    {
      "key.length" : 13,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 182
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 196
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 198
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 201
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 206
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 208
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 211
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 221
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 235
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 242
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 254
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 260
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 265
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 280
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 297
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 305
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 320
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 327
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 331
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 335
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 338
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 346
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 355
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 362
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 367
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 374
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 382
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 387
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 401
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 408
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 413
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 427
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 432
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 440
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 445
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 454
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 463
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 474
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 479
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 488
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 490
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 493
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 502
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 507
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 511
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 513
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 516
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 520
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 523
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 532
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 536
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 540
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 546
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 550
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 556
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 564
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 570
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 574
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 578
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 580
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 590
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 592
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 603
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 606
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 618
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 622
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 624
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 634
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 638
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 641
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 648
    },
    {
      "key.length" : 7,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 654
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 669
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 673
    },
    {
      "key.length" : 7,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 676
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 687
    },
    {
      "key.length" : 7,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 697
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 707
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 711
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 721
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 726
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 737
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 742
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 748
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 750
    },
    {
      "key.length" : 7,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 753
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 769
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 774
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 783
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 785
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 788
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 801
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 805
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 812
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 818
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 825
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 832
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 838
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 846
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 853
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 857
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 865
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 872
    },
    {
      "key.length" : 16,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 878
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 901
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 905
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 913
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 927
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 945
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 949
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 958
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 972
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 979
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1004
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1008
    },
    {
      "key.length" : 25,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 1030
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1076
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1080
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1091
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1097
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 1104
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1111
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1117
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1127
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1132
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1141
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1143
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1146
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1157
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1163
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1171
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1176
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.attribute.builtin",
      "key.offset" : 1187
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1196
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1201
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1210
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1212
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1215
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1227
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1233
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1243
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1254
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1258
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1266
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1280
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1298
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1305
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1325
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1329
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1348
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1352
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 1356
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1377
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1382
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1388
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1390
    },
    {
      "key.length" : 16,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1394
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1412
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1417
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1428
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1432
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1436
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1439
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1449
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1453
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1456
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1469
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1472
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1480
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1486
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1489
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 1498
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1504
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1508
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 1512
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1519
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 1523
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1528
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1534
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 1538
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 1544
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1549
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1556
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1565
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1570
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1583
    },
    {
      "key.length" : 12,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1587
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1602
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1611
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1625
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1632
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1647
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1652
    },
    {
      "key.length" : 12,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1666
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1679
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1689
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1695
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1704
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1709
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1721
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1727
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1733
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.attribute.builtin",
      "key.offset" : 1742
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1751
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1756
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1772
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1786
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1791
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1805
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1811
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1826
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1831
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1837
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1839
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1842
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1847
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1850
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1860
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1872
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1874
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1884
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1886
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1896
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1901
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1907
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1909
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1912
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1918
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1927
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1936
    },
    {
      "key.length" : 14,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1948
    },
    {
      "key.length" : 7,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1963
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1975
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1979
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1983
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1989
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1999
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2004
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2013
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2020
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2025
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2037
    },
    {
      "key.length" : 7,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2047
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2057
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2065
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2069
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2073
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 2079
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2085
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2090
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2102
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2107
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2114
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2118
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2125
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2127
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2130
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2133
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2139
    },
    {
      "key.length" : 7,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2141
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2152
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2160
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2169
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2181
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2188
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2195
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2198
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2204
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2207
    }
  ]
}