{
  "key.substructure" : [
    {
      "key.namelength" : 5,
      "key.filepath" : "{{ file_path }}",
      "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
      "key.doclength" : 91,
      "key.name" : "globV",
      "key.nameoffset" : 221,
      "key.docoffset" : 125,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "Int",
      "key.kind" : "source.lang.swift.decl.var.global",
      "key.length" : 14,
      "key.offset" : 217
    },
    {
      "key.namelength" : 3,
      "key.runtime_name" : "_TtC4main3CC0",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "CC0",
      "key.bodylength" : 20,
      "key.nameoffset" : 239,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 244,
      "key.kind" : "source.lang.swift.decl.class",
      "key.substructure" : [
        {
          "key.namelength" : 1,
          "key.typename" : "Int",
          "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
          "key.nameoffset" : 253,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.name" : "x",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 14,
          "key.offset" : 249
        }
      ],
      "key.length" : 32,
      "key.offset" : 233
    },
    {
      "key.namelength" : 2,
      "key.runtime_name" : "_TtC4main2CC",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "CC",
      "key.bodylength" : 258,
      "key.nameoffset" : 272,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 276,
      "key.kind" : "source.lang.swift.decl.class",
      "key.substructure" : [
        {
          "key.namelength" : 5,
          "key.typename" : "CC0",
          "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
          "key.nameoffset" : 285,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.name" : "instV",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 14,
          "key.offset" : 281
        },
        {
          "key.bodylength" : 0,
          "key.namelength" : 6,
          "key.bodyoffset" : 313,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 305,
          "key.name" : "meth()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 14,
          "key.offset" : 300
        },
        {
          "key.namelength" : 33,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "instanceFunc0(_:b:)",
          "key.bodylength" : 22,
          "key.nameoffset" : 324,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Int",
          "key.bodyoffset" : 366,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "Int",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "a",
              "key.length" : 8,
              "key.offset" : 338
            },
            {
              "key.namelength" : 1,
              "key.typename" : "Float",
              "key.nameoffset" : 348,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "b",
              "key.length" : 8,
              "key.offset" : 348
            }
          ],
          "key.length" : 70,
          "key.offset" : 319
        },
        {
          "key.namelength" : 35,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "instanceFunc1(a:b:)",
          "key.bodylength" : 22,
          "key.nameoffset" : 399,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Int",
          "key.bodyoffset" : 443,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.substructure" : [
            {
              "key.namelength" : 1,
              "key.typename" : "Int",
              "key.nameoffset" : 413,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "x",
              "key.length" : 8,
              "key.offset" : 413
            },
            {
              "key.namelength" : 1,
              "key.typename" : "Float",
              "key.nameoffset" : 423,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "y",
              "key.length" : 10,
              "key.offset" : 423
            }
          ],
          "key.length" : 72,
          "key.offset" : 394
        },
        {
          "key.bodylength" : 0,
          "key.namelength" : 7,
          "key.bodyoffset" : 491,
          "key.kind" : "source.lang.swift.decl.function.method.class",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 482,
          "key.name" : "smeth()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 21,
          "key.offset" : 471
        },
        {
          "key.bodylength" : 27,
          "key.namelength" : 6,
          "key.substructure" : [
            {
              "key.namelength" : 3,
              "key.bodylength" : 0,
              "key.kind" : "source.lang.swift.expr.call",
              "key.filepath" : "{{ file_path }}",
              "key.bodyoffset" : 526,
              "key.nameoffset" : 522,
              "key.name" : "CC0",
              "key.length" : 5,
              "key.offset" : 522
            }
          ],
          "key.bodyoffset" : 505,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 497,
          "key.name" : "init()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 36,
          "key.offset" : 497
        }
      ],
      "key.length" : 269,
      "key.offset" : 266
    },
    {
      "key.namelength" : 17,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "+(_:_:)",
      "key.bodylength" : 14,
      "key.nameoffset" : 542,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "CC",
      "key.bodyoffset" : 567,
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.substructure" : [
        {
          "key.namelength" : 0,
          "key.typename" : "CC",
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "a",
          "key.length" : 6,
          "key.offset" : 544
        },
        {
          "key.namelength" : 0,
          "key.typename" : "CC0",
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "b",
          "key.length" : 6,
          "key.offset" : 552
        }
      ],
      "key.length" : 45,
      "key.offset" : 537
    },
    {
      "key.bodylength" : 47,
      "key.namelength" : 1,
      "key.substructure" : [
        {
          "key.bodylength" : 0,
          "key.namelength" : 6,
          "key.bodyoffset" : 612,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 604,
          "key.name" : "meth()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 14,
          "key.offset" : 599
        },
        {
          "key.bodylength" : 0,
          "key.namelength" : 7,
          "key.bodyoffset" : 639,
          "key.kind" : "source.lang.swift.decl.function.method.static",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 630,
          "key.name" : "smeth()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 22,
          "key.offset" : 618
        }
      ],
      "key.bodyoffset" : 594,
      "key.kind" : "source.lang.swift.decl.struct",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 591,
      "key.name" : "S",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 58,
      "key.offset" : 584
    },
    {
      "key.bodylength" : 16,
      "key.namelength" : 1,
      "key.substructure" : [
        {
          "key.namelength" : 0,
          "key.offset" : 657,
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.enumcase",
          "key.length" : 10,
          "key.substructure" : [
            {
              "key.namelength" : 5,
              "key.nameoffset" : 662,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.enumelement",
              "key.name" : "EElem",
              "key.accessibility" : "source.lang.swift.accessibility.internal",
              "key.length" : 5,
              "key.offset" : 662
            }
          ]
        }
      ],
      "key.bodyoffset" : 652,
      "key.kind" : "source.lang.swift.decl.enum",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 649,
      "key.name" : "E",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 25,
      "key.offset" : 644
    },
    {
      "key.namelength" : 4,
      "key.runtime_name" : "_TtP4main4Prot_",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "Prot",
      "key.bodylength" : 30,
      "key.nameoffset" : 680,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 686,
      "key.kind" : "source.lang.swift.decl.protocol",
      "key.substructure" : [
        {
          "key.namelength" : 19,
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "Prot",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "a",
              "key.length" : 9,
              "key.offset" : 705
            }
          ],
          "key.nameoffset" : 696,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.name" : "protMeth(_:)",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 24,
          "key.offset" : 691
        }
      ],
      "key.length" : 46,
      "key.offset" : 671
    },
    {
      "key.bodylength" : 157,
      "key.namelength" : 18,
      "key.substructure" : [
        {
          "key.namelength" : 0,
          "key.typename" : "CC",
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "a",
          "key.length" : 7,
          "key.offset" : 728
        },
        {
          "key.namelength" : 1,
          "key.typename" : "E",
          "key.nameoffset" : 737,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "b",
          "key.length" : 4,
          "key.offset" : 737
        },
        {
          "key.namelength" : 1,
          "key.nameoffset" : 753,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.local",
          "key.name" : "b",
          "key.length" : 9,
          "key.offset" : 749
        },
        {
          "key.namelength" : 6,
          "key.bodylength" : 0,
          "key.kind" : "source.lang.swift.expr.call",
          "key.filepath" : "{{ file_path }}",
          "key.bodyoffset" : 814,
          "key.nameoffset" : 807,
          "key.name" : "a.meth",
          "key.length" : 8,
          "key.offset" : 807
        },
        {
          "key.namelength" : 8,
          "key.bodylength" : 0,
          "key.kind" : "source.lang.swift.expr.call",
          "key.filepath" : "{{ file_path }}",
          "key.bodyoffset" : 829,
          "key.nameoffset" : 820,
          "key.name" : "CC.smeth",
          "key.length" : 10,
          "key.offset" : 820
        },
        {
          "key.bodylength" : 0,
          "key.namelength" : 7,
          "key.bodyoffset" : 880,
          "key.kind" : "source.lang.swift.decl.class",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 871,
          "key.name" : "LocalCC",
          "key.accessibility" : "source.lang.swift.accessibility.private",
          "key.length" : 16,
          "key.offset" : 865
        }
      ],
      "key.bodyoffset" : 744,
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 724,
      "key.name" : "foo(_:b:)",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 183,
      "key.offset" : 719
    },
    {
      "key.namelength" : 7,
      "key.nameoffset" : 914,
      "key.filepath" : "{{ file_path }}",
      "key.kind" : "source.lang.swift.decl.typealias",
      "key.name" : "CCAlias",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 22,
      "key.offset" : 904
    },
    {
      "key.namelength" : 2,
      "key.elements" : [
        {
          "key.length" : 4,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 943
        }
      ],
      "key.filepath" : "{{ file_path }}",
      "key.name" : "CC",
      "key.bodylength" : 97,
      "key.nameoffset" : 938,
      "key.kind" : "source.lang.swift.decl.extension",
      "key.bodyoffset" : 949,
      "key.substructure" : [
        {
          "key.bodylength" : 0,
          "key.namelength" : 19,
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "CCAlias",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "x",
              "key.length" : 12,
              "key.offset" : 965
            }
          ],
          "key.bodyoffset" : 980,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 959,
          "key.name" : "meth2(_:)",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 27,
          "key.offset" : 954
        },
        {
          "key.bodylength" : 0,
          "key.namelength" : 19,
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "Prot",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "a",
              "key.length" : 9,
              "key.offset" : 1000
            }
          ],
          "key.bodyoffset" : 1012,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 991,
          "key.name" : "protMeth(_:)",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 27,
          "key.offset" : 986
        },
        {
          "key.bodylength" : 10,
          "key.namelength" : 4,
          "key.typename" : "Int",
          "key.bodyoffset" : 1034,
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 1022,
          "key.name" : "extV",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 27,
          "key.offset" : 1018
        }
      ],
      "key.inheritedtypes" : [
        {
          "key.name" : "Prot"
        }
      ],
      "key.length" : 119,
      "key.offset" : 928
    },
    {
      "key.namelength" : 5,
      "key.elements" : [
        {
          "key.length" : 2,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 1063
        }
      ],
      "key.filepath" : "{{ file_path }}",
      "key.name" : "SubCC",
      "key.runtime_name" : "_TtC4main5SubCC",
      "key.bodylength" : 0,
      "key.nameoffset" : 1055,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 1067,
      "key.kind" : "source.lang.swift.decl.class",
      "key.inheritedtypes" : [
        {
          "key.name" : "CC"
        }
      ],
      "key.length" : 19,
      "key.offset" : 1049
    },
    {
      "key.namelength" : 6,
      "key.typename" : "SubCC",
      "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
      "key.nameoffset" : 1074,
      "key.filepath" : "{{ file_path }}",
      "key.kind" : "source.lang.swift.decl.var.global",
      "key.name" : "globV2",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 17,
      "key.offset" : 1070
    },
    {
      "key.namelength" : 16,
      "key.runtime_name" : "_TtC4main16ComputedProperty",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "ComputedProperty",
      "key.bodylength" : 212,
      "key.nameoffset" : 1095,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 1113,
      "key.kind" : "source.lang.swift.decl.class",
      "key.substructure" : [
        {
          "key.namelength" : 5,
          "key.filepath" : "{{ file_path }}",
          "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
          "key.name" : "value",
          "key.bodylength" : 151,
          "key.nameoffset" : 1122,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Int",
          "key.bodyoffset" : 1135,
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.length" : 169,
          "key.offset" : 1118
        },
        {
          "key.namelength" : 6,
          "key.nameoffset" : 1166,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.local",
          "key.name" : "result",
          "key.length" : 14,
          "key.offset" : 1162
        },
        {
          "key.namelength" : 0,
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "newVal",
          "key.length" : 6,
          "key.offset" : 1225
        },
        {
          "key.bodylength" : 10,
          "key.namelength" : 8,
          "key.typename" : "Int",
          "key.bodyoffset" : 1313,
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 1297,
          "key.name" : "readOnly",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 31,
          "key.offset" : 1293
        }
      ],
      "key.length" : 237,
      "key.offset" : 1089
    },
    {
      "key.namelength" : 3,
      "key.runtime_name" : "_TtC4main3BC2",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "BC2",
      "key.bodylength" : 33,
      "key.nameoffset" : 1334,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 1339,
      "key.kind" : "source.lang.swift.decl.class",
      "key.substructure" : [
        {
          "key.bodylength" : 0,
          "key.namelength" : 19,
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "Prot",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "a",
              "key.length" : 9,
              "key.offset" : 1358
            }
          ],
          "key.bodyoffset" : 1370,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 1349,
          "key.name" : "protMeth(_:)",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 27,
          "key.offset" : 1344
        }
      ],
      "key.length" : 45,
      "key.offset" : 1328
    },
    {
      "key.namelength" : 5,
      "key.elements" : [
        {
          "key.length" : 3,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 1388
        },
        {
          "key.length" : 4,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 1393
        }
      ],
      "key.filepath" : "{{ file_path }}",
      "key.name" : "SubC2",
      "key.runtime_name" : "_TtC4main5SubC2",
      "key.bodylength" : 42,
      "key.nameoffset" : 1380,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 1399,
      "key.kind" : "source.lang.swift.decl.class",
      "key.substructure" : [
        {
          "key.namelength" : 19,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "protMeth(_:)",
          "key.bodylength" : 0,
          "key.nameoffset" : 1418,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.bodyoffset" : 1439,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "Prot",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "a",
              "key.length" : 9,
              "key.offset" : 1427
            }
          ],
          "key.attributes" : [
            {
              "key.length" : 8,
              "key.attribute" : "source.decl.attribute.override",
              "key.offset" : 1404
            }
          ],
          "key.length" : 27,
          "key.offset" : 1413
        }
      ],
      "key.inheritedtypes" : [
        {
          "key.name" : "BC2"
        },
        {
          "key.name" : "Prot"
        }
      ],
      "key.length" : 68,
      "key.offset" : 1374
    },
    {
      "key.namelength" : 3,
      "key.runtime_name" : "_TtC4main3CC2",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "CC2",
      "key.bodylength" : 136,
      "key.nameoffset" : 1450,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 1455,
      "key.kind" : "source.lang.swift.decl.class",
      "key.substructure" : [
        {
          "key.namelength" : 19,
          "key.filepath" : "{{ file_path }}",
          "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
          "key.name" : "subscript(_:)",
          "key.bodylength" : 101,
          "key.nameoffset" : 1460,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Int",
          "key.bodyoffset" : 1488,
          "key.kind" : "source.lang.swift.decl.function.subscript",
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "Int",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "i",
              "key.length" : 7,
              "key.offset" : 1471
            }
          ],
          "key.length" : 130,
          "key.offset" : 1460
        },
        {
          "key.namelength" : 0,
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "vvv",
          "key.length" : 3,
          "key.offset" : 1546
        }
      ],
      "key.length" : 148,
      "key.offset" : 1444
    },
    {
      "key.bodylength" : 123,
      "key.namelength" : 39,
      "key.substructure" : [
        {
          "key.namelength" : 0,
          "key.typename" : "ComputedProperty",
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "cp",
          "key.length" : 22,
          "key.offset" : 1605
        },
        {
          "key.namelength" : 3,
          "key.typename" : "CC2",
          "key.nameoffset" : 1629,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "sub",
          "key.length" : 8,
          "key.offset" : 1629
        },
        {
          "key.namelength" : 1,
          "key.nameoffset" : 1649,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.local",
          "key.name" : "x",
          "key.length" : 16,
          "key.offset" : 1645
        }
      ],
      "key.bodyoffset" : 1640,
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 1599,
      "key.name" : "test1(_:sub:)",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 170,
      "key.offset" : 1594
    },
    {
      "key.bodylength" : 20,
      "key.namelength" : 2,
      "key.substructure" : [
        {
          "key.bodylength" : 0,
          "key.namelength" : 6,
          "key.bodyoffset" : 1795,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 1787,
          "key.name" : "sfoo()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 14,
          "key.offset" : 1782
        }
      ],
      "key.bodyoffset" : 1777,
      "key.kind" : "source.lang.swift.decl.struct",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 1773,
      "key.name" : "S2",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 32,
      "key.offset" : 1766
    },
    {
      "key.bodylength" : 38,
      "key.namelength" : 12,
      "key.typename" : "S2",
      "key.bodyoffset" : 1823,
      "key.kind" : "source.lang.swift.decl.var.global",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 1804,
      "key.name" : "globReadOnly",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 62,
      "key.offset" : 1800
    },
    {
      "key.namelength" : 2,
      "key.bodylength" : 0,
      "key.kind" : "source.lang.swift.expr.call",
      "key.filepath" : "{{ file_path }}",
      "key.bodyoffset" : 1852,
      "key.nameoffset" : 1849,
      "key.name" : "S2",
      "key.length" : 4,
      "key.offset" : 1849
    },
    {
      "key.bodylength" : 25,
      "key.namelength" : 7,
      "key.substructure" : [
        {
          "key.namelength" : 17,
          "key.bodylength" : 0,
          "key.kind" : "source.lang.swift.expr.call",
          "key.filepath" : "{{ file_path }}",
          "key.bodyoffset" : 1901,
          "key.nameoffset" : 1883,
          "key.name" : "globReadOnly.sfoo",
          "key.length" : 19,
          "key.offset" : 1883
        }
      ],
      "key.bodyoffset" : 1878,
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 1869,
      "key.name" : "test2()",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 40,
      "key.offset" : 1864
    },
    {
      "key.namelength" : 2,
      "key.runtime_name" : "_TtC4main2B1",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "B1",
      "key.bodylength" : 19,
      "key.nameoffset" : 1912,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 1916,
      "key.kind" : "source.lang.swift.decl.class",
      "key.substructure" : [
        {
          "key.bodylength" : 0,
          "key.namelength" : 5,
          "key.bodyoffset" : 1933,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 1926,
          "key.name" : "foo()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 13,
          "key.offset" : 1921
        }
      ],
      "key.length" : 30,
      "key.offset" : 1906
    },
    {
      "key.namelength" : 3,
      "key.elements" : [
        {
          "key.length" : 2,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 1950
        }
      ],
      "key.filepath" : "{{ file_path }}",
      "key.name" : "SB1",
      "key.runtime_name" : "_TtC4main3SB1",
      "key.bodylength" : 86,
      "key.nameoffset" : 1944,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 1954,
      "key.kind" : "source.lang.swift.decl.class",
      "key.substructure" : [
        {
          "key.namelength" : 5,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "foo()",
          "key.bodylength" : 58,
          "key.nameoffset" : 1973,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.bodyoffset" : 1980,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.substructure" : [
            {
              "key.namelength" : 3,
              "key.bodylength" : 0,
              "key.kind" : "source.lang.swift.expr.call",
              "key.filepath" : "{{ file_path }}",
              "key.bodyoffset" : 1993,
              "key.nameoffset" : 1989,
              "key.name" : "foo",
              "key.length" : 5,
              "key.offset" : 1989
            },
            {
              "key.namelength" : 8,
              "key.bodylength" : 0,
              "key.kind" : "source.lang.swift.expr.call",
              "key.filepath" : "{{ file_path }}",
              "key.bodyoffset" : 2012,
              "key.nameoffset" : 2003,
              "key.name" : "self.foo",
              "key.length" : 10,
              "key.offset" : 2003
            },
            {
              "key.namelength" : 9,
              "key.bodylength" : 0,
              "key.kind" : "source.lang.swift.expr.call",
              "key.filepath" : "{{ file_path }}",
              "key.bodyoffset" : 2032,
              "key.nameoffset" : 2022,
              "key.name" : "super.foo",
              "key.length" : 11,
              "key.offset" : 2022
            }
          ],
          "key.attributes" : [
            {
              "key.length" : 8,
              "key.attribute" : "source.decl.attribute.override",
              "key.offset" : 1959
            }
          ],
          "key.length" : 71,
          "key.offset" : 1968
        }
      ],
      "key.inheritedtypes" : [
        {
          "key.name" : "B1"
        }
      ],
      "key.length" : 103,
      "key.offset" : 1938
    },
    {
      "key.bodylength" : 38,
      "key.namelength" : 22,
      "key.substructure" : [
        {
          "key.namelength" : 0,
          "key.typename" : "SB1",
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "c",
          "key.length" : 8,
          "key.offset" : 2054
        },
        {
          "key.namelength" : 1,
          "key.typename" : "S2",
          "key.nameoffset" : 2064,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "s",
          "key.length" : 5,
          "key.offset" : 2064
        },
        {
          "key.namelength" : 5,
          "key.bodylength" : 0,
          "key.kind" : "source.lang.swift.expr.call",
          "key.filepath" : "{{ file_path }}",
          "key.bodyoffset" : 2083,
          "key.nameoffset" : 2077,
          "key.name" : "test2",
          "key.length" : 7,
          "key.offset" : 2077
        },
        {
          "key.namelength" : 5,
          "key.bodylength" : 0,
          "key.kind" : "source.lang.swift.expr.call",
          "key.filepath" : "{{ file_path }}",
          "key.bodyoffset" : 2095,
          "key.nameoffset" : 2089,
          "key.name" : "c.foo",
          "key.length" : 7,
          "key.offset" : 2089
        },
        {
          "key.namelength" : 6,
          "key.bodylength" : 0,
          "key.kind" : "source.lang.swift.expr.call",
          "key.filepath" : "{{ file_path }}",
          "key.bodyoffset" : 2108,
          "key.nameoffset" : 2101,
          "key.name" : "s.sfoo",
          "key.length" : 8,
          "key.offset" : 2101
        }
      ],
      "key.bodyoffset" : 2072,
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 2048,
      "key.name" : "test3(_:s:)",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 68,
      "key.offset" : 2043
    },
    {
      "key.bodylength" : 0,
      "key.namelength" : 21,
      "key.substructure" : [
        {
          "key.namelength" : 0,
          "key.typename" : "inout Int",
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "a",
          "key.length" : 14,
          "key.offset" : 2124
        }
      ],
      "key.bodyoffset" : 2141,
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 2118,
      "key.name" : "test4(_:)",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 29,
      "key.offset" : 2113
    },
    {
      "key.namelength" : 5,
      "key.runtime_name" : "_TtP4main5Prot2_",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "Prot2",
      "key.bodylength" : 67,
      "key.nameoffset" : 2153,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 2160,
      "key.kind" : "source.lang.swift.decl.protocol",
      "key.substructure" : [
        {
          "key.namelength" : 7,
          "key.nameoffset" : 2180,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.associatedtype",
          "key.name" : "Element",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 22,
          "key.offset" : 2165
        },
        {
          "key.bodylength" : 5,
          "key.namelength" : 1,
          "key.typename" : "Int",
          "key.bodyoffset" : 2205,
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 2196,
          "key.name" : "p",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 19,
          "key.offset" : 2192
        },
        {
          "key.namelength" : 5,
          "key.nameoffset" : 2221,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.name" : "foo()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 10,
          "key.offset" : 2216
        }
      ],
      "key.length" : 84,
      "key.offset" : 2144
    },
    {
      "key.namelength" : 2,
      "key.elements" : [
        {
          "key.length" : 5,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 2242
        }
      ],
      "key.filepath" : "{{ file_path }}",
      "key.name" : "S1",
      "key.bodylength" : 67,
      "key.nameoffset" : 2237,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 2249,
      "key.kind" : "source.lang.swift.decl.struct",
      "key.substructure" : [
        {
          "key.namelength" : 7,
          "key.nameoffset" : 2264,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.typealias",
          "key.name" : "Element",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 23,
          "key.offset" : 2254
        },
        {
          "key.namelength" : 1,
          "key.typename" : "Int",
          "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
          "key.nameoffset" : 2286,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.name" : "p",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 15,
          "key.offset" : 2282
        },
        {
          "key.bodylength" : 0,
          "key.namelength" : 5,
          "key.bodyoffset" : 2314,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.filepath" : "{{ file_path }}",
          "key.nameoffset" : 2307,
          "key.name" : "foo()",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 13,
          "key.offset" : 2302
        }
      ],
      "key.inheritedtypes" : [
        {
          "key.name" : "Prot2"
        }
      ],
      "key.length" : 87,
      "key.offset" : 2230
    },
    {
      "key.bodylength" : 0,
      "key.namelength" : 25,
      "key.substructure" : [
        {
          "key.namelength" : 1,
          "key.elements" : [
            {
              "key.length" : 5,
              "key.kind" : "source.lang.swift.structure.elem.typeref",
              "key.offset" : 2335
            }
          ],
          "key.kind" : "source.lang.swift.decl.generic_type_param",
          "key.filepath" : "{{ file_path }}",
          "key.inheritedtypes" : [
            {
              "key.name" : "Prot2"
            }
          ],
          "key.nameoffset" : 2331,
          "key.name" : "T",
          "key.length" : 9,
          "key.offset" : 2331
        },
        {
          "key.namelength" : 0,
          "key.typename" : "T",
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.var.parameter",
          "key.name" : "x",
          "key.length" : 6,
          "key.offset" : 2342
        }
      ],
      "key.bodyoffset" : 2374,
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 2324,
      "key.name" : "genfoo(_:)",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 56,
      "key.offset" : 2319
    },
    {
      "key.namelength" : 5,
      "key.runtime_name" : "_TtP4main5Prot3_",
      "key.filepath" : "{{ file_path }}",
      "key.name" : "Prot3",
      "key.bodylength" : 37,
      "key.nameoffset" : 2386,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 2393,
      "key.kind" : "source.lang.swift.decl.protocol",
      "key.substructure" : [
        {
          "key.namelength" : 19,
          "key.substructure" : [
            {
              "key.namelength" : 0,
              "key.typename" : "Self",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "x",
              "key.length" : 7,
              "key.offset" : 2412
            },
            {
              "key.namelength" : 0,
              "key.typename" : "Self",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.parameter",
              "key.name" : "y",
              "key.length" : 7,
              "key.offset" : 2421
            }
          ],
          "key.nameoffset" : 2410,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.function.method.static",
          "key.name" : "+(_:_:)",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.length" : 31,
          "key.offset" : 2398
        }
      ],
      "key.length" : 54,
      "key.offset" : 2377
    }
  ],
  "key.offset" : 0,
  "key.diagnostic_stage" : "source.diagnostic.stage.swift.parse",
  "key.length" : 2432,
  "key.syntaxmap" : [
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 0
    },
    {
      "key.length" : 31,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 3
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 34
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 43
    },
    {
      "key.length" : 43,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 46
    },
    {
      "key.length" : 32,
      "key.kind" : "source.lang.swift.syntaxtype.comment.url",
      "key.offset" : 89
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 121
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 122
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.doccomment",
      "key.offset" : 125
    },
    {
      "key.length" : 86,
      "key.kind" : "source.lang.swift.syntaxtype.comment.url",
      "key.offset" : 129
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.doccomment",
      "key.offset" : 215
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 217
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 221
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 228
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 233
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 239
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 249
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 253
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 256
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 262
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 266
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 272
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 281
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 285
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 292
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 300
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 305
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 319
    },
    {
      "key.length" : 13,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 324
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 338
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 340
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 343
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 348
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 351
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 361
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 375
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 382
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 394
    },
    {
      "key.length" : 13,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 399
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 413
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 415
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 418
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 423
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 425
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 428
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 438
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 452
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 459
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 471
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 477
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 482
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 497
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 514
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 522
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 537
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 544
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 548
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 552
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 555
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 563
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 572
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 579
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 584
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 591
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 599
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 604
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 618
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 625
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 630
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 644
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 649
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 657
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 662
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 671
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 680
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 691
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 696
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 705
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 707
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 710
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 719
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 724
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 728
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 730
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 733
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 737
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 740
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 749
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 753
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 757
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 763
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 767
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 773
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 781
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 787
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 791
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 795
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 797
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 807
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 809
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 820
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 823
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 835
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 839
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 841
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 851
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 855
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 858
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 865
    },
    {
      "key.length" : 7,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 871
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 886
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 890
    },
    {
      "key.length" : 7,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 893
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 904
    },
    {
      "key.length" : 7,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 914
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 924
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 928
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 938
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 943
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 954
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 959
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 965
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 967
    },
    {
      "key.length" : 7,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 970
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 986
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 991
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1000
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1002
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1005
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1018
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1022
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1029
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1035
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 1042
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1049
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1055
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1063
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1070
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1074
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1082
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1089
    },
    {
      "key.length" : 16,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1095
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1118
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1122
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1130
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1144
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1162
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1166
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 1175
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1189
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1196
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1221
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1225
    },
    {
      "key.length" : 25,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 1247
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1293
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1297
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1308
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1314
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 1321
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1328
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1334
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1344
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1349
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1358
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1360
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1363
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1374
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1380
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1388
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1393
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.attribute.builtin",
      "key.offset" : 1404
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1413
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1418
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1427
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1429
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1432
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1444
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1450
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1460
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1471
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1475
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1483
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1497
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1515
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1522
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1542
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1546
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1565
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1569
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 1573
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1594
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1599
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1605
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1607
    },
    {
      "key.length" : 16,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1611
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1629
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1634
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1645
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1649
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1653
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1656
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1666
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1670
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1673
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1686
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1689
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1697
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1703
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1706
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 1715
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1721
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1725
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 1729
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1736
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 1740
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1745
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1751
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 1755
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 1761
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1766
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1773
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1782
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1787
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1800
    },
    {
      "key.length" : 12,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1804
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1819
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1828
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1842
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1849
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1864
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1869
    },
    {
      "key.length" : 12,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1883
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1896
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1906
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1912
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1921
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1926
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1938
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1944
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 1950
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.attribute.builtin",
      "key.offset" : 1959
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 1968
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1973
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 1989
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2003
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2008
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2022
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2028
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2043
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2048
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2054
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2056
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2059
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2064
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2067
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2077
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2089
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2091
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2101
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2103
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2113
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2118
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2124
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2126
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2129
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2135
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2144
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2153
    },
    {
      "key.length" : 14,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2165
    },
    {
      "key.length" : 7,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2180
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2192
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2196
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2200
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2206
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2216
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2221
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2230
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2237
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2242
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2254
    },
    {
      "key.length" : 7,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2264
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2274
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2282
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2286
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2290
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.number",
      "key.offset" : 2296
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2302
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2307
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2319
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2324
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2331
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2335
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2342
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2344
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2347
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2350
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2356
    },
    {
      "key.length" : 7,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2358
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2369
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2377
    },
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2386
    },
    {
      "key.length" : 6,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2398
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 2405
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2412
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2415
    },
    {
      "key.length" : 1,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 2421
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 2424
    }
  ]
}