{
  "key.substructure" : [
    {
      "key.parsed_declaration" : "var globV: Int",
      "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
      "key.fully_annotated_decl" : "<decl.var.global><syntaxtype.keyword>var<\/syntaxtype.keyword> <decl.name>globV<\/decl.name>: <decl.var.type><ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.var.type><\/decl.var.global>",
      "key.usr" : "s:4Test5globVSivp",
      "key.filepath" : "{{ file_path }}",
      "key.namelength" : 5,
      "key.doc.declaration" : "var globV: Int",
      "key.doc.comment" : "https:\/\/github.com\/apple\/swift\/blob\/master\/test\/SourceKit\/DocSupport\/Inputs\/main.swift",
      "key.doc.type" : "Other",
      "key.doc.column" : 5,
      "key.doclength" : 91,
      "key.typeusr" : "$SSiD",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.name" : "globV",
      "key.parsed_scope.start" : 9,
      "key.doc.name" : "globV",
      "key.kind" : "source.lang.swift.decl.var.global",
      "key.length" : 14,
      "key.doc.full_as_xml" : "<Other file=\"{{ file_path }}\" line=\"9\" column=\"5\"><Name>globV<\/Name><USR>s:4Test5globVSivp<\/USR><Declaration>var globV: Int<\/Declaration><CommentParts><Abstract><Para>https:\/\/github.com\/apple\/swift\/blob\/master\/test\/SourceKit\/DocSupport\/Inputs\/main.swift<\/Para><\/Abstract><\/CommentParts><\/Other>",
      "key.doc.file" : "{{ file_path }}",
      "key.doc.line" : 9,
      "key.offset" : 217,
      "key.docoffset" : 125,
      "key.nameoffset" : 221,
      "key.parsed_scope.end" : 9,
      "key.typename" : "Int",
      "key.annotated_decl" : "<Declaration>var globV: <Type usr=\"s:Si\">Int<\/Type><\/Declaration>"
    },
    {
      "key.runtime_name" : "_TtC4main3CC0",
      "key.parsed_declaration" : "class CC0",
      "key.usr" : "s:4Test3CC0C",
      "key.fully_annotated_decl" : "<decl.class><syntaxtype.keyword>class<\/syntaxtype.keyword> <decl.name>CC0<\/decl.name><\/decl.class>",
      "key.filepath" : "{{ file_path }}",
      "key.namelength" : 3,
      "key.substructure" : [
        {
          "key.typeusr" : "$SSiD",
          "key.namelength" : 1,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "x",
          "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
          "key.nameoffset" : 253,
          "key.parsed_scope.start" : 12,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Int",
          "key.usr" : "s:4Test3CC0C1xSivp",
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.fully_annotated_decl" : "<decl.var.instance><syntaxtype.keyword>var<\/syntaxtype.keyword> <decl.name>x<\/decl.name>: <decl.var.type><ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.var.type><\/decl.var.instance>",
          "key.parsed_declaration" : "var x: Int = 0",
          "key.parsed_scope.end" : 12,
          "key.length" : 14,
          "key.offset" : 249,
          "key.annotated_decl" : "<Declaration>var x: <Type usr=\"s:Si\">Int<\/Type><\/Declaration>"
        }
      ],
      "key.typeusr" : "$S4Test3CC0CmD",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.name" : "CC0",
      "key.parsed_scope.start" : 11,
      "key.bodyoffset" : 244,
      "key.kind" : "source.lang.swift.decl.class",
      "key.length" : 32,
      "key.offset" : 233,
      "key.nameoffset" : 239,
      "key.typename" : "CC0.Type",
      "key.parsed_scope.end" : 13,
      "key.bodylength" : 20,
      "key.annotated_decl" : "<Declaration>class CC0<\/Declaration>"
    },
    {
      "key.runtime_name" : "_TtC4main2CC",
      "key.parsed_declaration" : "class CC",
      "key.usr" : "s:4Test2CCC",
      "key.fully_annotated_decl" : "<decl.class><syntaxtype.keyword>class<\/syntaxtype.keyword> <decl.name>CC<\/decl.name><\/decl.class>",
      "key.filepath" : "{{ file_path }}",
      "key.namelength" : 2,
      "key.substructure" : [
        {
          "key.typeusr" : "$S4Test3CC0CD",
          "key.namelength" : 5,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "instV",
          "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
          "key.nameoffset" : 285,
          "key.parsed_scope.start" : 15,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "CC0",
          "key.usr" : "s:4Test2CCC5instVAA3CC0Cvp",
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.fully_annotated_decl" : "<decl.var.instance><syntaxtype.keyword>var<\/syntaxtype.keyword> <decl.name>instV<\/decl.name>: <decl.var.type><ref.class usr=\"s:4Test3CC0C\">CC0<\/ref.class><\/decl.var.type><\/decl.var.instance>",
          "key.parsed_declaration" : "var instV: CC0",
          "key.parsed_scope.end" : 15,
          "key.length" : 14,
          "key.offset" : 281,
          "key.annotated_decl" : "<Declaration>var instV: <Type usr=\"s:4Test3CC0C\">CC0<\/Type><\/Declaration>"
        },
        {
          "key.typeusr" : "$SyycD",
          "key.namelength" : 6,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "meth()",
          "key.bodylength" : 0,
          "key.nameoffset" : 305,
          "key.parsed_scope.start" : 16,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "(CC) -> () -> ()",
          "key.usr" : "s:4Test2CCC4methyyF",
          "key.bodyoffset" : 313,
          "key.fully_annotated_decl" : "<decl.function.method.instance><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>meth<\/decl.name>()<\/decl.function.method.instance>",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.parsed_declaration" : "func meth()",
          "key.length" : 14,
          "key.offset" : 300,
          "key.annotated_decl" : "<Declaration>func meth()<\/Declaration>",
          "key.parsed_scope.end" : 16
        },
        {
          "key.substructure" : [

          ],
          "key.typeusr" : "$S_1bS2i_SftcD",
          "key.namelength" : 33,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "instanceFunc0(_:b:)",
          "key.bodylength" : 22,
          "key.nameoffset" : 324,
          "key.parsed_scope.start" : 17,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "(CC) -> (Int, Float) -> Int",
          "key.usr" : "s:4Test2CCC13instanceFunc0_1bS2i_SftF",
          "key.bodyoffset" : 366,
          "key.fully_annotated_decl" : "<decl.function.method.instance><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>instanceFunc0<\/decl.name>(<decl.var.parameter><decl.var.parameter.argument_label>_<\/decl.var.parameter.argument_label> <decl.var.parameter.name>a<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.var.parameter.type><\/decl.var.parameter>, <decl.var.parameter><decl.var.parameter.argument_label>b<\/decl.var.parameter.argument_label>: <decl.var.parameter.type><ref.struct usr=\"s:Sf\">Float<\/ref.struct><\/decl.var.parameter.type><\/decl.var.parameter>) -&gt; <decl.function.returntype><ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.function.returntype><\/decl.function.method.instance>",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.parsed_declaration" : "func instanceFunc0(_ a: Int, b: Float) -> Int",
          "key.length" : 70,
          "key.offset" : 319,
          "key.annotated_decl" : "<Declaration>func instanceFunc0(_ a: <Type usr=\"s:Si\">Int<\/Type>, b: <Type usr=\"s:Sf\">Float<\/Type>) -&gt; <Type usr=\"s:Si\">Int<\/Type><\/Declaration>",
          "key.parsed_scope.end" : 19
        },
        {
          "key.substructure" : [

          ],
          "key.typeusr" : "$S1a1bS2i_SftcD",
          "key.namelength" : 35,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "instanceFunc1(a:b:)",
          "key.bodylength" : 22,
          "key.nameoffset" : 399,
          "key.parsed_scope.start" : 20,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "(CC) -> (Int, Float) -> Int",
          "key.usr" : "s:4Test2CCC13instanceFunc11a1bS2i_SftF",
          "key.bodyoffset" : 443,
          "key.fully_annotated_decl" : "<decl.function.method.instance><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>instanceFunc1<\/decl.name>(<decl.var.parameter><decl.var.parameter.argument_label>a<\/decl.var.parameter.argument_label> <decl.var.parameter.name>x<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.var.parameter.type><\/decl.var.parameter>, <decl.var.parameter><decl.var.parameter.argument_label>b<\/decl.var.parameter.argument_label> <decl.var.parameter.name>y<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.struct usr=\"s:Sf\">Float<\/ref.struct><\/decl.var.parameter.type><\/decl.var.parameter>) -&gt; <decl.function.returntype><ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.function.returntype><\/decl.function.method.instance>",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.parsed_declaration" : "func instanceFunc1(a x: Int, b y: Float) -> Int",
          "key.length" : 72,
          "key.offset" : 394,
          "key.annotated_decl" : "<Declaration>func instanceFunc1(a x: <Type usr=\"s:Si\">Int<\/Type>, b y: <Type usr=\"s:Sf\">Float<\/Type>) -&gt; <Type usr=\"s:Si\">Int<\/Type><\/Declaration>",
          "key.parsed_scope.end" : 22
        },
        {
          "key.typeusr" : "$SyycD",
          "key.namelength" : 7,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "smeth()",
          "key.bodylength" : 0,
          "key.nameoffset" : 482,
          "key.parsed_scope.start" : 23,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "(CC.Type) -> () -> ()",
          "key.usr" : "s:4Test2CCC5smethyyFZ",
          "key.bodyoffset" : 491,
          "key.fully_annotated_decl" : "<decl.function.method.class><syntaxtype.keyword>class<\/syntaxtype.keyword> <syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>smeth<\/decl.name>()<\/decl.function.method.class>",
          "key.kind" : "source.lang.swift.decl.function.method.class",
          "key.parsed_declaration" : "class func smeth()",
          "key.length" : 21,
          "key.offset" : 471,
          "key.annotated_decl" : "<Declaration>class func smeth()<\/Declaration>",
          "key.parsed_scope.end" : 23
        },
        {
          "key.substructure" : [

          ],
          "key.typeusr" : "$S4Test2CCCycD",
          "key.namelength" : 6,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "init()",
          "key.bodylength" : 27,
          "key.nameoffset" : 497,
          "key.parsed_scope.start" : 24,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "(CC.Type) -> () -> CC",
          "key.usr" : "s:4Test2CCCACycfc",
          "key.bodyoffset" : 505,
          "key.fully_annotated_decl" : "<decl.function.constructor><syntaxtype.keyword>init<\/syntaxtype.keyword>()<\/decl.function.constructor>",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.parsed_declaration" : "init()",
          "key.length" : 36,
          "key.offset" : 497,
          "key.annotated_decl" : "<Declaration>init()<\/Declaration>",
          "key.parsed_scope.end" : 26
        }
      ],
      "key.typeusr" : "$S4Test2CCCmD",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.name" : "CC",
      "key.parsed_scope.start" : 14,
      "key.bodyoffset" : 276,
      "key.kind" : "source.lang.swift.decl.class",
      "key.length" : 269,
      "key.offset" : 266,
      "key.nameoffset" : 272,
      "key.typename" : "CC.Type",
      "key.parsed_scope.end" : 27,
      "key.bodylength" : 258,
      "key.annotated_decl" : "<Declaration>class CC<\/Declaration>"
    },
    {
      "key.substructure" : [

      ],
      "key.typeusr" : "$Sy4Test2CCCAC_AA3CC0CtcD",
      "key.namelength" : 17,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "+(_:_:)",
      "key.bodylength" : 14,
      "key.nameoffset" : 542,
      "key.parsed_scope.start" : 29,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "(CC, CC0) -> CC",
      "key.usr" : "s:4Test1poiyAA2CCCAD_AA3CC0CtF",
      "key.bodyoffset" : 567,
      "key.fully_annotated_decl" : "<decl.function.operator.infix><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>+ <\/decl.name>(<decl.var.parameter><decl.var.parameter.name>a<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.class usr=\"s:4Test2CCC\">CC<\/ref.class><\/decl.var.parameter.type><\/decl.var.parameter>, <decl.var.parameter><decl.var.parameter.name>b<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.class usr=\"s:4Test3CC0C\">CC0<\/ref.class><\/decl.var.parameter.type><\/decl.var.parameter>) -&gt; <decl.function.returntype><ref.class usr=\"s:4Test2CCC\">CC<\/ref.class><\/decl.function.returntype><\/decl.function.operator.infix>",
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.parsed_declaration" : "func +(a : CC, b: CC0) -> CC",
      "key.length" : 45,
      "key.offset" : 537,
      "key.annotated_decl" : "<Declaration>func + (a: <Type usr=\"s:4Test2CCC\">CC<\/Type>, b: <Type usr=\"s:4Test3CC0C\">CC0<\/Type>) -&gt; <Type usr=\"s:4Test2CCC\">CC<\/Type><\/Declaration>",
      "key.parsed_scope.end" : 31
    },
    {
      "key.substructure" : [
        {
          "key.typeusr" : "$SyycD",
          "key.namelength" : 6,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "meth()",
          "key.bodylength" : 0,
          "key.nameoffset" : 604,
          "key.parsed_scope.start" : 34,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "(S) -> () -> ()",
          "key.usr" : "s:4Test1SV4methyyF",
          "key.bodyoffset" : 612,
          "key.fully_annotated_decl" : "<decl.function.method.instance><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>meth<\/decl.name>()<\/decl.function.method.instance>",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.parsed_declaration" : "func meth()",
          "key.length" : 14,
          "key.offset" : 599,
          "key.annotated_decl" : "<Declaration>func meth()<\/Declaration>",
          "key.parsed_scope.end" : 34
        },
        {
          "key.typeusr" : "$SyycD",
          "key.namelength" : 7,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "smeth()",
          "key.bodylength" : 0,
          "key.nameoffset" : 630,
          "key.parsed_scope.start" : 35,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "(S.Type) -> () -> ()",
          "key.usr" : "s:4Test1SV5smethyyFZ",
          "key.bodyoffset" : 639,
          "key.fully_annotated_decl" : "<decl.function.method.static><syntaxtype.keyword>static<\/syntaxtype.keyword> <syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>smeth<\/decl.name>()<\/decl.function.method.static>",
          "key.kind" : "source.lang.swift.decl.function.method.static",
          "key.parsed_declaration" : "static func smeth()",
          "key.length" : 22,
          "key.offset" : 618,
          "key.annotated_decl" : "<Declaration>static func smeth()<\/Declaration>",
          "key.parsed_scope.end" : 35
        }
      ],
      "key.typeusr" : "$S4Test1SVmD",
      "key.namelength" : 1,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "S",
      "key.bodylength" : 47,
      "key.nameoffset" : 591,
      "key.parsed_scope.start" : 33,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "S.Type",
      "key.usr" : "s:4Test1SV",
      "key.bodyoffset" : 594,
      "key.fully_annotated_decl" : "<decl.struct><syntaxtype.keyword>struct<\/syntaxtype.keyword> <decl.name>S<\/decl.name><\/decl.struct>",
      "key.kind" : "source.lang.swift.decl.struct",
      "key.parsed_declaration" : "struct S",
      "key.length" : 58,
      "key.offset" : 584,
      "key.annotated_decl" : "<Declaration>struct S<\/Declaration>",
      "key.parsed_scope.end" : 36
    },
    {
      "key.substructure" : [
        {
          "key.namelength" : 0,
          "key.offset" : 657,
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.decl.enumcase",
          "key.length" : 10,
          "key.substructure" : [
            {
              "key.typeusr" : "$Sy4Test1EOACmcD",
              "key.namelength" : 5,
              "key.filepath" : "{{ file_path }}",
              "key.name" : "EElem",
              "key.nameoffset" : 662,
              "key.parsed_scope.start" : 39,
              "key.accessibility" : "source.lang.swift.accessibility.internal",
              "key.typename" : "(E.Type) -> E",
              "key.usr" : "s:4Test1EO5EElemyA2CmF",
              "key.kind" : "source.lang.swift.decl.enumelement",
              "key.fully_annotated_decl" : "<decl.enumelement><syntaxtype.keyword>case<\/syntaxtype.keyword> <decl.name>EElem<\/decl.name><\/decl.enumelement>",
              "key.parsed_declaration" : "case EElem",
              "key.parsed_scope.end" : 39,
              "key.length" : 5,
              "key.offset" : 662,
              "key.annotated_decl" : "<Declaration>case EElem<\/Declaration>"
            }
          ]
        }
      ],
      "key.typeusr" : "$S4Test1EOmD",
      "key.namelength" : 1,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "E",
      "key.bodylength" : 16,
      "key.nameoffset" : 649,
      "key.parsed_scope.start" : 38,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "E.Type",
      "key.usr" : "s:4Test1EO",
      "key.bodyoffset" : 652,
      "key.fully_annotated_decl" : "<decl.enum><syntaxtype.keyword>enum<\/syntaxtype.keyword> <decl.name>E<\/decl.name><\/decl.enum>",
      "key.kind" : "source.lang.swift.decl.enum",
      "key.parsed_declaration" : "enum E",
      "key.length" : 25,
      "key.offset" : 644,
      "key.annotated_decl" : "<Declaration>enum E<\/Declaration>",
      "key.parsed_scope.end" : 40
    },
    {
      "key.runtime_name" : "_TtP4main4Prot_",
      "key.parsed_declaration" : "protocol Prot",
      "key.usr" : "s:4Test4ProtP",
      "key.fully_annotated_decl" : "<decl.protocol><syntaxtype.keyword>protocol<\/syntaxtype.keyword> <decl.name>Prot<\/decl.name><\/decl.protocol>",
      "key.filepath" : "{{ file_path }}",
      "key.namelength" : 4,
      "key.substructure" : [
        {
          "key.typeusr" : "$Syy4Test4Prot_pcD",
          "key.namelength" : 19,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "protMeth(_:)",
          "key.nameoffset" : 696,
          "key.parsed_scope.start" : 43,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "<Self where Self : Prot> (Self) -> (Prot) -> ()",
          "key.usr" : "s:4Test4ProtP8protMethyyAaB_pF",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.fully_annotated_decl" : "<decl.function.method.instance><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>protMeth<\/decl.name>(<decl.var.parameter><decl.var.parameter.argument_label>_<\/decl.var.parameter.argument_label> <decl.var.parameter.name>a<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.protocol usr=\"s:4Test4ProtP\">Prot<\/ref.protocol><\/decl.var.parameter.type><\/decl.var.parameter>)<\/decl.function.method.instance>",
          "key.parsed_declaration" : "func protMeth(_ a: Prot)",
          "key.parsed_scope.end" : 43,
          "key.length" : 24,
          "key.offset" : 691,
          "key.annotated_decl" : "<Declaration>func protMeth(_ a: <Type usr=\"s:4Test4ProtP\">Prot<\/Type>)<\/Declaration>",
          "key.substructure" : [

          ]
        }
      ],
      "key.typeusr" : "$S4Test4Prot_pmD",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.name" : "Prot",
      "key.parsed_scope.start" : 42,
      "key.bodyoffset" : 686,
      "key.kind" : "source.lang.swift.decl.protocol",
      "key.length" : 46,
      "key.offset" : 671,
      "key.nameoffset" : 680,
      "key.typename" : "Prot.Protocol",
      "key.parsed_scope.end" : 44,
      "key.bodylength" : 30,
      "key.annotated_decl" : "<Declaration>protocol Prot<\/Declaration>"
    },
    {
      "key.substructure" : [
        {
          "key.typeusr" : "$S4Test1EOD",
          "key.namelength" : 1,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "b",
          "key.nameoffset" : 753,
          "key.parsed_scope.start" : 47,
          "key.typename" : "E",
          "key.usr" : "s:4Test3foo_1byAA2CCC_AA1EOtFACL0_AGvp",
          "key.kind" : "source.lang.swift.decl.var.local",
          "key.fully_annotated_decl" : "<decl.var.local><syntaxtype.keyword>var<\/syntaxtype.keyword> <decl.name>b<\/decl.name>: <decl.var.type><ref.enum usr=\"s:4Test1EO\">E<\/ref.enum><\/decl.var.type><\/decl.var.local>",
          "key.parsed_declaration" : "var b = b",
          "key.parsed_scope.end" : 47,
          "key.length" : 9,
          "key.offset" : 749,
          "key.annotated_decl" : "<Declaration>var b: <Type usr=\"s:4Test1EO\">E<\/Type><\/Declaration>"
        },
        {
          "key.typeusr" : "$S4Test3foo_1byAA2CCC_AA1EOtF05LocalC0L_CmD",
          "key.namelength" : 7,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "LocalCC",
          "key.bodylength" : 0,
          "key.nameoffset" : 871,
          "key.parsed_scope.start" : 55,
          "key.accessibility" : "source.lang.swift.accessibility.private",
          "key.typename" : "LocalCC.Type",
          "key.usr" : "s:4Test3foo_1byAA2CCC_AA1EOtF05LocalC0L_C",
          "key.bodyoffset" : 880,
          "key.fully_annotated_decl" : "<decl.class><syntaxtype.keyword>class<\/syntaxtype.keyword> <decl.name>LocalCC<\/decl.name><\/decl.class>",
          "key.kind" : "source.lang.swift.decl.class",
          "key.parsed_declaration" : "class LocalCC",
          "key.length" : 16,
          "key.offset" : 865,
          "key.annotated_decl" : "<Declaration>class LocalCC<\/Declaration>",
          "key.parsed_scope.end" : 55
        }
      ],
      "key.typeusr" : "$S_1by4Test2CCC_AB1EOtcD",
      "key.namelength" : 18,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "foo(_:b:)",
      "key.bodylength" : 157,
      "key.nameoffset" : 724,
      "key.parsed_scope.start" : 46,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "(CC, E) -> ()",
      "key.usr" : "s:4Test3foo_1byAA2CCC_AA1EOtF",
      "key.bodyoffset" : 744,
      "key.fully_annotated_decl" : "<decl.function.free><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>foo<\/decl.name>(<decl.var.parameter><decl.var.parameter.argument_label>_<\/decl.var.parameter.argument_label> <decl.var.parameter.name>a<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.class usr=\"s:4Test2CCC\">CC<\/ref.class><\/decl.var.parameter.type><\/decl.var.parameter>, <decl.var.parameter><decl.var.parameter.argument_label>b<\/decl.var.parameter.argument_label>: <decl.var.parameter.type><ref.enum usr=\"s:4Test1EO\">E<\/ref.enum><\/decl.var.parameter.type><\/decl.var.parameter>)<\/decl.function.free>",
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.parsed_declaration" : "func foo(_ a: CC, b: E)",
      "key.length" : 183,
      "key.offset" : 719,
      "key.annotated_decl" : "<Declaration>func foo(_ a: <Type usr=\"s:4Test2CCC\">CC<\/Type>, b: <Type usr=\"s:4Test1EO\">E<\/Type>)<\/Declaration>",
      "key.parsed_scope.end" : 57
    },
    {
      "key.typeusr" : "$S4Test2CCCmD",
      "key.namelength" : 7,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "CCAlias",
      "key.nameoffset" : 914,
      "key.parsed_scope.start" : 59,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "CC.Type",
      "key.usr" : "s:4Test7CCAliasa",
      "key.kind" : "source.lang.swift.decl.typealias",
      "key.fully_annotated_decl" : "<decl.typealias><syntaxtype.keyword>typealias<\/syntaxtype.keyword> <decl.name>CCAlias<\/decl.name> = <ref.class usr=\"s:4Test2CCC\">CC<\/ref.class><\/decl.typealias>",
      "key.parsed_declaration" : "typealias CCAlias = CC",
      "key.parsed_scope.end" : 59,
      "key.length" : 22,
      "key.offset" : 904,
      "key.annotated_decl" : "<Declaration>typealias CCAlias = <Type usr=\"s:4Test2CCC\">CC<\/Type><\/Declaration>"
    },
    {
      "key.typeusr" : "$S4Test2CCCmD",
      "key.namelength" : 2,
      "key.elements" : [
        {
          "key.length" : 4,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 943
        }
      ],
      "key.filepath" : "{{ file_path }}",
      "key.name" : "CC",
      "key.bodylength" : 97,
      "key.nameoffset" : 938,
      "key.typename" : "CC.Type",
      "key.usr" : "s:4Test2CCC",
      "key.bodyoffset" : 949,
      "key.fully_annotated_decl" : "<decl.class><syntaxtype.keyword>class<\/syntaxtype.keyword> <decl.name>CC<\/decl.name><\/decl.class>",
      "key.kind" : "source.lang.swift.decl.extension",
      "key.substructure" : [
        {
          "key.substructure" : [

          ],
          "key.typeusr" : "$Syy4Test2CCCcD",
          "key.namelength" : 19,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "meth2(_:)",
          "key.bodylength" : 0,
          "key.nameoffset" : 959,
          "key.parsed_scope.start" : 62,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "(CC) -> (CC) -> ()",
          "key.usr" : "s:4Test2CCC5meth2yyACF",
          "key.bodyoffset" : 980,
          "key.fully_annotated_decl" : "<decl.function.method.instance><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>meth2<\/decl.name>(<decl.var.parameter><decl.var.parameter.argument_label>_<\/decl.var.parameter.argument_label> <decl.var.parameter.name>x<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.typealias usr=\"s:4Test7CCAliasa\">CCAlias<\/ref.typealias><\/decl.var.parameter.type><\/decl.var.parameter>)<\/decl.function.method.instance>",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.parsed_declaration" : "func meth2(_ x: CCAlias)",
          "key.length" : 27,
          "key.offset" : 954,
          "key.annotated_decl" : "<Declaration>func meth2(_ x: <Type usr=\"s:4Test7CCAliasa\">CCAlias<\/Type>)<\/Declaration>",
          "key.parsed_scope.end" : 62
        },
        {
          "key.parsed_declaration" : "func protMeth(_ a: Prot)",
          "key.usr" : "s:4Test2CCC8protMethyyAA4Prot_pF",
          "key.fully_annotated_decl" : "<decl.function.method.instance><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>protMeth<\/decl.name>(<decl.var.parameter><decl.var.parameter.argument_label>_<\/decl.var.parameter.argument_label> <decl.var.parameter.name>a<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.protocol usr=\"s:4Test4ProtP\">Prot<\/ref.protocol><\/decl.var.parameter.type><\/decl.var.parameter>)<\/decl.function.method.instance>",
          "key.filepath" : "{{ file_path }}",
          "key.namelength" : 19,
          "key.substructure" : [

          ],
          "key.typeusr" : "$Syy4Test4Prot_pcD",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.name" : "protMeth(_:)",
          "key.parsed_scope.start" : 63,
          "key.bodyoffset" : 1012,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.length" : 27,
          "key.offset" : 986,
          "key.nameoffset" : 991,
          "key.overrides" : [
            {
              "key.usr" : "s:4Test4ProtP8protMethyyAaB_pF"
            }
          ],
          "key.typename" : "(CC) -> (Prot) -> ()",
          "key.bodylength" : 0,
          "key.annotated_decl" : "<Declaration>func protMeth(_ a: <Type usr=\"s:4Test4ProtP\">Prot<\/Type>)<\/Declaration>",
          "key.parsed_scope.end" : 63
        },
        {
          "key.typeusr" : "$SSiD",
          "key.namelength" : 4,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "extV",
          "key.bodylength" : 10,
          "key.nameoffset" : 1022,
          "key.parsed_scope.start" : 64,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Int",
          "key.usr" : "s:4Test2CCC4extVSivp",
          "key.bodyoffset" : 1034,
          "key.fully_annotated_decl" : "<decl.var.instance><syntaxtype.keyword>var<\/syntaxtype.keyword> <decl.name>extV<\/decl.name>: <decl.var.type><ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.var.type> { <syntaxtype.keyword>get<\/syntaxtype.keyword> }<\/decl.var.instance>",
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.parsed_declaration" : "var extV : Int",
          "key.length" : 27,
          "key.offset" : 1018,
          "key.annotated_decl" : "<Declaration>var extV: <Type usr=\"s:Si\">Int<\/Type> { get }<\/Declaration>",
          "key.parsed_scope.end" : 64
        }
      ],
      "key.inheritedtypes" : [
        {
          "key.name" : "Prot"
        }
      ],
      "key.annotated_decl" : "<Declaration>class CC<\/Declaration>",
      "key.length" : 119,
      "key.offset" : 928
    },
    {
      "key.runtime_name" : "_TtC4main5SubCC",
      "key.parsed_declaration" : "class SubCC : CC",
      "key.fully_annotated_decl" : "<decl.class><syntaxtype.keyword>class<\/syntaxtype.keyword> <decl.name>SubCC<\/decl.name> : <ref.class usr=\"s:4Test2CCC\">CC<\/ref.class><\/decl.class>",
      "key.usr" : "s:4Test5SubCCC",
      "key.filepath" : "{{ file_path }}",
      "key.namelength" : 5,
      "key.inheritedtypes" : [
        {
          "key.name" : "CC"
        }
      ],
      "key.typeusr" : "$S4Test5SubCCCmD",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.name" : "SubCC",
      "key.elements" : [
        {
          "key.length" : 2,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 1063
        }
      ],
      "key.parsed_scope.start" : 67,
      "key.bodyoffset" : 1067,
      "key.kind" : "source.lang.swift.decl.class",
      "key.length" : 19,
      "key.offset" : 1049,
      "key.nameoffset" : 1055,
      "key.typename" : "SubCC.Type",
      "key.parsed_scope.end" : 67,
      "key.bodylength" : 0,
      "key.annotated_decl" : "<Declaration>class SubCC : <Type usr=\"s:4Test2CCC\">CC<\/Type><\/Declaration>"
    },
    {
      "key.typeusr" : "$S4Test5SubCCCD",
      "key.namelength" : 6,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "globV2",
      "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
      "key.nameoffset" : 1074,
      "key.parsed_scope.start" : 69,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "SubCC",
      "key.usr" : "s:4Test6globV2AA5SubCCCvp",
      "key.kind" : "source.lang.swift.decl.var.global",
      "key.fully_annotated_decl" : "<decl.var.global><syntaxtype.keyword>var<\/syntaxtype.keyword> <decl.name>globV2<\/decl.name>: <decl.var.type><ref.class usr=\"s:4Test5SubCCC\">SubCC<\/ref.class><\/decl.var.type><\/decl.var.global>",
      "key.parsed_declaration" : "var globV2: SubCC",
      "key.parsed_scope.end" : 69,
      "key.length" : 17,
      "key.offset" : 1070,
      "key.annotated_decl" : "<Declaration>var globV2: <Type usr=\"s:4Test5SubCCC\">SubCC<\/Type><\/Declaration>"
    },
    {
      "key.runtime_name" : "_TtC4main16ComputedProperty",
      "key.parsed_declaration" : "class ComputedProperty",
      "key.usr" : "s:4Test16ComputedPropertyC",
      "key.fully_annotated_decl" : "<decl.class><syntaxtype.keyword>class<\/syntaxtype.keyword> <decl.name>ComputedProperty<\/decl.name><\/decl.class>",
      "key.filepath" : "{{ file_path }}",
      "key.namelength" : 16,
      "key.substructure" : [
        {
          "key.typeusr" : "$SSiD",
          "key.namelength" : 5,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "value",
          "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
          "key.bodylength" : 151,
          "key.nameoffset" : 1122,
          "key.parsed_scope.start" : 72,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Int",
          "key.usr" : "s:4Test16ComputedPropertyC5valueSivp",
          "key.bodyoffset" : 1135,
          "key.fully_annotated_decl" : "<decl.var.instance><syntaxtype.keyword>var<\/syntaxtype.keyword> <decl.name>value<\/decl.name>: <decl.var.type><ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.var.type> { <syntaxtype.keyword>get<\/syntaxtype.keyword> <syntaxtype.keyword>set<\/syntaxtype.keyword> }<\/decl.var.instance>",
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.parsed_declaration" : "var value : Int",
          "key.length" : 169,
          "key.offset" : 1118,
          "key.annotated_decl" : "<Declaration>var value: <Type usr=\"s:Si\">Int<\/Type> { get set }<\/Declaration>",
          "key.parsed_scope.end" : 80
        },
        {
          "key.typeusr" : "$SSiD",
          "key.namelength" : 6,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "result",
          "key.nameoffset" : 1166,
          "key.parsed_scope.start" : 74,
          "key.typename" : "Int",
          "key.usr" : "s:4Test16ComputedPropertyC5valueSivg6resultL_Sivp",
          "key.kind" : "source.lang.swift.decl.var.local",
          "key.fully_annotated_decl" : "<decl.var.local><syntaxtype.keyword>let<\/syntaxtype.keyword> <decl.name>result<\/decl.name>: <decl.var.type><ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.var.type><\/decl.var.local>",
          "key.parsed_declaration" : "let result = 0",
          "key.parsed_scope.end" : 74,
          "key.length" : 14,
          "key.offset" : 1162,
          "key.annotated_decl" : "<Declaration>let result: <Type usr=\"s:Si\">Int<\/Type><\/Declaration>"
        },
        {
          "key.typeusr" : "$SSiD",
          "key.namelength" : 8,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "readOnly",
          "key.bodylength" : 10,
          "key.nameoffset" : 1297,
          "key.parsed_scope.start" : 82,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Int",
          "key.usr" : "s:4Test16ComputedPropertyC8readOnlySivp",
          "key.bodyoffset" : 1313,
          "key.fully_annotated_decl" : "<decl.var.instance><syntaxtype.keyword>var<\/syntaxtype.keyword> <decl.name>readOnly<\/decl.name>: <decl.var.type><ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.var.type> { <syntaxtype.keyword>get<\/syntaxtype.keyword> }<\/decl.var.instance>",
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.parsed_declaration" : "var readOnly : Int",
          "key.length" : 31,
          "key.offset" : 1293,
          "key.annotated_decl" : "<Declaration>var readOnly: <Type usr=\"s:Si\">Int<\/Type> { get }<\/Declaration>",
          "key.parsed_scope.end" : 82
        }
      ],
      "key.typeusr" : "$S4Test16ComputedPropertyCmD",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.name" : "ComputedProperty",
      "key.parsed_scope.start" : 71,
      "key.bodyoffset" : 1113,
      "key.kind" : "source.lang.swift.decl.class",
      "key.length" : 237,
      "key.offset" : 1089,
      "key.nameoffset" : 1095,
      "key.typename" : "ComputedProperty.Type",
      "key.parsed_scope.end" : 83,
      "key.bodylength" : 212,
      "key.annotated_decl" : "<Declaration>class ComputedProperty<\/Declaration>"
    },
    {
      "key.runtime_name" : "_TtC4main3BC2",
      "key.parsed_declaration" : "class BC2",
      "key.usr" : "s:4Test3BC2C",
      "key.fully_annotated_decl" : "<decl.class><syntaxtype.keyword>class<\/syntaxtype.keyword> <decl.name>BC2<\/decl.name><\/decl.class>",
      "key.filepath" : "{{ file_path }}",
      "key.namelength" : 3,
      "key.substructure" : [
        {
          "key.substructure" : [

          ],
          "key.typeusr" : "$Syy4Test4Prot_pcD",
          "key.namelength" : 19,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "protMeth(_:)",
          "key.bodylength" : 0,
          "key.nameoffset" : 1349,
          "key.parsed_scope.start" : 86,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "(BC2) -> (Prot) -> ()",
          "key.usr" : "s:4Test3BC2C8protMethyyAA4Prot_pF",
          "key.bodyoffset" : 1370,
          "key.fully_annotated_decl" : "<decl.function.method.instance><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>protMeth<\/decl.name>(<decl.var.parameter><decl.var.parameter.argument_label>_<\/decl.var.parameter.argument_label> <decl.var.parameter.name>a<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.protocol usr=\"s:4Test4ProtP\">Prot<\/ref.protocol><\/decl.var.parameter.type><\/decl.var.parameter>)<\/decl.function.method.instance>",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.parsed_declaration" : "func protMeth(_ a: Prot)",
          "key.length" : 27,
          "key.offset" : 1344,
          "key.annotated_decl" : "<Declaration>func protMeth(_ a: <Type usr=\"s:4Test4ProtP\">Prot<\/Type>)<\/Declaration>",
          "key.parsed_scope.end" : 86
        }
      ],
      "key.typeusr" : "$S4Test3BC2CmD",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.name" : "BC2",
      "key.parsed_scope.start" : 85,
      "key.bodyoffset" : 1339,
      "key.kind" : "source.lang.swift.decl.class",
      "key.length" : 45,
      "key.offset" : 1328,
      "key.nameoffset" : 1334,
      "key.typename" : "BC2.Type",
      "key.parsed_scope.end" : 87,
      "key.bodylength" : 33,
      "key.annotated_decl" : "<Declaration>class BC2<\/Declaration>"
    },
    {
      "key.runtime_name" : "_TtC4main5SubC2",
      "key.parsed_declaration" : "class SubC2 : BC2, Prot",
      "key.fully_annotated_decl" : "<decl.class><syntaxtype.keyword>class<\/syntaxtype.keyword> <decl.name>SubC2<\/decl.name> : <ref.class usr=\"s:4Test3BC2C\">BC2<\/ref.class>, <ref.protocol usr=\"s:4Test4ProtP\">Prot<\/ref.protocol><\/decl.class>",
      "key.usr" : "s:4Test5SubC2C",
      "key.filepath" : "{{ file_path }}",
      "key.namelength" : 5,
      "key.substructure" : [
        {
          "key.parsed_declaration" : "override func protMeth(_ a: Prot)",
          "key.fully_annotated_decl" : "<decl.function.method.instance><syntaxtype.keyword>override<\/syntaxtype.keyword> <syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>protMeth<\/decl.name>(<decl.var.parameter><decl.var.parameter.argument_label>_<\/decl.var.parameter.argument_label> <decl.var.parameter.name>a<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.protocol usr=\"s:4Test4ProtP\">Prot<\/ref.protocol><\/decl.var.parameter.type><\/decl.var.parameter>)<\/decl.function.method.instance>",
          "key.usr" : "s:4Test5SubC2C8protMethyyAA4Prot_pF",
          "key.filepath" : "{{ file_path }}",
          "key.namelength" : 19,
          "key.substructure" : [

          ],
          "key.typeusr" : "$Syy4Test4Prot_pcD",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.name" : "protMeth(_:)",
          "key.parsed_scope.start" : 89,
          "key.bodyoffset" : 1439,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.attributes" : [
            {
              "key.length" : 8,
              "key.attribute" : "source.decl.attribute.override",
              "key.offset" : 1404
            }
          ],
          "key.length" : 27,
          "key.offset" : 1413,
          "key.nameoffset" : 1418,
          "key.overrides" : [
            {
              "key.usr" : "s:4Test4ProtP8protMethyyAaB_pF"
            },
            {
              "key.usr" : "s:4Test3BC2C8protMethyyAA4Prot_pF"
            }
          ],
          "key.parsed_scope.end" : 89,
          "key.bodylength" : 0,
          "key.typename" : "(SubC2) -> (Prot) -> ()",
          "key.annotated_decl" : "<Declaration>override func protMeth(_ a: <Type usr=\"s:4Test4ProtP\">Prot<\/Type>)<\/Declaration>"
        }
      ],
      "key.inheritedtypes" : [
        {
          "key.name" : "BC2"
        },
        {
          "key.name" : "Prot"
        }
      ],
      "key.typeusr" : "$S4Test5SubC2CmD",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.name" : "SubC2",
      "key.elements" : [
        {
          "key.length" : 3,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 1388
        },
        {
          "key.length" : 4,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 1393
        }
      ],
      "key.parsed_scope.start" : 88,
      "key.bodyoffset" : 1399,
      "key.kind" : "source.lang.swift.decl.class",
      "key.length" : 68,
      "key.offset" : 1374,
      "key.nameoffset" : 1380,
      "key.typename" : "SubC2.Type",
      "key.parsed_scope.end" : 90,
      "key.bodylength" : 42,
      "key.annotated_decl" : "<Declaration>class SubC2 : <Type usr=\"s:4Test3BC2C\">BC2<\/Type>, <Type usr=\"s:4Test4ProtP\">Prot<\/Type><\/Declaration>"
    },
    {
      "key.runtime_name" : "_TtC4main3CC2",
      "key.parsed_declaration" : "class CC2",
      "key.usr" : "s:4Test3CC2C",
      "key.fully_annotated_decl" : "<decl.class><syntaxtype.keyword>class<\/syntaxtype.keyword> <decl.name>CC2<\/decl.name><\/decl.class>",
      "key.filepath" : "{{ file_path }}",
      "key.namelength" : 3,
      "key.substructure" : [
        {
          "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
          "key.parsed_declaration" : "subscript (i : Int) -> Int",
          "key.usr" : "s:4Test3CC2CyS2icip",
          "key.fully_annotated_decl" : "<decl.function.subscript><syntaxtype.keyword>subscript<\/syntaxtype.keyword>(<decl.var.parameter><decl.var.parameter.name>i<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.var.parameter.type><\/decl.var.parameter>) -&gt; <decl.function.returntype><ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.function.returntype> { <syntaxtype.keyword>get<\/syntaxtype.keyword> <syntaxtype.keyword>set<\/syntaxtype.keyword> }<\/decl.function.subscript>",
          "key.filepath" : "{{ file_path }}",
          "key.namelength" : 19,
          "key.substructure" : [

          ],
          "key.typeusr" : "$SyS2icD",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.name" : "subscript(_:)",
          "key.parsed_scope.start" : 93,
          "key.bodyoffset" : 1488,
          "key.kind" : "source.lang.swift.decl.function.subscript",
          "key.length" : 130,
          "key.offset" : 1460,
          "key.nameoffset" : 1460,
          "key.typename" : "(Int) -> Int",
          "key.parsed_scope.end" : 100,
          "key.bodylength" : 101,
          "key.annotated_decl" : "<Declaration>subscript(i: <Type usr=\"s:Si\">Int<\/Type>) -&gt; <Type usr=\"s:Si\">Int<\/Type> { get set }<\/Declaration>"
        }
      ],
      "key.typeusr" : "$S4Test3CC2CmD",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.name" : "CC2",
      "key.parsed_scope.start" : 92,
      "key.bodyoffset" : 1455,
      "key.kind" : "source.lang.swift.decl.class",
      "key.length" : 148,
      "key.offset" : 1444,
      "key.nameoffset" : 1450,
      "key.typename" : "CC2.Type",
      "key.parsed_scope.end" : 101,
      "key.bodylength" : 136,
      "key.annotated_decl" : "<Declaration>class CC2<\/Declaration>"
    },
    {
      "key.substructure" : [
        {
          "key.typeusr" : "$SSiD",
          "key.namelength" : 1,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "x",
          "key.nameoffset" : 1649,
          "key.parsed_scope.start" : 104,
          "key.typename" : "Int",
          "key.usr" : "s:4Test5test1_3subyAA16ComputedPropertyC_AA3CC2CtF1xL_Sivp",
          "key.kind" : "source.lang.swift.decl.var.local",
          "key.fully_annotated_decl" : "<decl.var.local><syntaxtype.keyword>var<\/syntaxtype.keyword> <decl.name>x<\/decl.name>: <decl.var.type><ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.var.type><\/decl.var.local>",
          "key.parsed_declaration" : "var x = cp.value",
          "key.parsed_scope.end" : 104,
          "key.length" : 16,
          "key.offset" : 1645,
          "key.annotated_decl" : "<Declaration>var x: <Type usr=\"s:Si\">Int<\/Type><\/Declaration>"
        }
      ],
      "key.typeusr" : "$S_3suby4Test16ComputedPropertyC_AB3CC2CtcD",
      "key.namelength" : 39,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "test1(_:sub:)",
      "key.bodylength" : 123,
      "key.nameoffset" : 1599,
      "key.parsed_scope.start" : 103,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "(ComputedProperty, CC2) -> ()",
      "key.usr" : "s:4Test5test1_3subyAA16ComputedPropertyC_AA3CC2CtF",
      "key.bodyoffset" : 1640,
      "key.fully_annotated_decl" : "<decl.function.free><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>test1<\/decl.name>(<decl.var.parameter><decl.var.parameter.argument_label>_<\/decl.var.parameter.argument_label> <decl.var.parameter.name>cp<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.class usr=\"s:4Test16ComputedPropertyC\">ComputedProperty<\/ref.class><\/decl.var.parameter.type><\/decl.var.parameter>, <decl.var.parameter><decl.var.parameter.argument_label>sub<\/decl.var.parameter.argument_label>: <decl.var.parameter.type><ref.class usr=\"s:4Test3CC2C\">CC2<\/ref.class><\/decl.var.parameter.type><\/decl.var.parameter>)<\/decl.function.free>",
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.parsed_declaration" : "func test1(_ cp: ComputedProperty, sub: CC2)",
      "key.length" : 170,
      "key.offset" : 1594,
      "key.annotated_decl" : "<Declaration>func test1(_ cp: <Type usr=\"s:4Test16ComputedPropertyC\">ComputedProperty<\/Type>, sub: <Type usr=\"s:4Test3CC2C\">CC2<\/Type>)<\/Declaration>",
      "key.parsed_scope.end" : 111
    },
    {
      "key.substructure" : [
        {
          "key.typeusr" : "$SyycD",
          "key.namelength" : 6,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "sfoo()",
          "key.bodylength" : 0,
          "key.nameoffset" : 1787,
          "key.parsed_scope.start" : 114,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "(S2) -> () -> ()",
          "key.usr" : "s:4Test2S2V4sfooyyF",
          "key.bodyoffset" : 1795,
          "key.fully_annotated_decl" : "<decl.function.method.instance><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>sfoo<\/decl.name>()<\/decl.function.method.instance>",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.parsed_declaration" : "func sfoo()",
          "key.length" : 14,
          "key.offset" : 1782,
          "key.annotated_decl" : "<Declaration>func sfoo()<\/Declaration>",
          "key.parsed_scope.end" : 114
        }
      ],
      "key.typeusr" : "$S4Test2S2VmD",
      "key.namelength" : 2,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "S2",
      "key.bodylength" : 20,
      "key.nameoffset" : 1773,
      "key.parsed_scope.start" : 113,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "S2.Type",
      "key.usr" : "s:4Test2S2V",
      "key.bodyoffset" : 1777,
      "key.fully_annotated_decl" : "<decl.struct><syntaxtype.keyword>struct<\/syntaxtype.keyword> <decl.name>S2<\/decl.name><\/decl.struct>",
      "key.kind" : "source.lang.swift.decl.struct",
      "key.parsed_declaration" : "struct S2",
      "key.length" : 32,
      "key.offset" : 1766,
      "key.annotated_decl" : "<Declaration>struct S2<\/Declaration>",
      "key.parsed_scope.end" : 115
    },
    {
      "key.typeusr" : "$S4Test2S2VD",
      "key.namelength" : 12,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "globReadOnly",
      "key.bodylength" : 38,
      "key.nameoffset" : 1804,
      "key.parsed_scope.start" : 117,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "S2",
      "key.usr" : "s:4Test12globReadOnlyAA2S2Vvp",
      "key.bodyoffset" : 1823,
      "key.fully_annotated_decl" : "<decl.var.global><syntaxtype.keyword>var<\/syntaxtype.keyword> <decl.name>globReadOnly<\/decl.name>: <decl.var.type><ref.struct usr=\"s:4Test2S2V\">S2<\/ref.struct><\/decl.var.type> { <syntaxtype.keyword>get<\/syntaxtype.keyword> }<\/decl.var.global>",
      "key.kind" : "source.lang.swift.decl.var.global",
      "key.parsed_declaration" : "var globReadOnly : S2",
      "key.length" : 62,
      "key.offset" : 1800,
      "key.annotated_decl" : "<Declaration>var globReadOnly: <Type usr=\"s:4Test2S2V\">S2<\/Type> { get }<\/Declaration>",
      "key.parsed_scope.end" : 121
    },
    {
      "key.substructure" : [

      ],
      "key.typeusr" : "$SyycD",
      "key.namelength" : 7,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "test2()",
      "key.bodylength" : 25,
      "key.nameoffset" : 1869,
      "key.parsed_scope.start" : 123,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "() -> ()",
      "key.usr" : "s:4Test5test2yyF",
      "key.bodyoffset" : 1878,
      "key.fully_annotated_decl" : "<decl.function.free><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>test2<\/decl.name>()<\/decl.function.free>",
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.parsed_declaration" : "func test2()",
      "key.length" : 40,
      "key.offset" : 1864,
      "key.annotated_decl" : "<Declaration>func test2()<\/Declaration>",
      "key.parsed_scope.end" : 125
    },
    {
      "key.runtime_name" : "_TtC4main2B1",
      "key.parsed_declaration" : "class B1",
      "key.usr" : "s:4Test2B1C",
      "key.fully_annotated_decl" : "<decl.class><syntaxtype.keyword>class<\/syntaxtype.keyword> <decl.name>B1<\/decl.name><\/decl.class>",
      "key.filepath" : "{{ file_path }}",
      "key.namelength" : 2,
      "key.substructure" : [
        {
          "key.typeusr" : "$SyycD",
          "key.namelength" : 5,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "foo()",
          "key.bodylength" : 0,
          "key.nameoffset" : 1926,
          "key.parsed_scope.start" : 128,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "(B1) -> () -> ()",
          "key.usr" : "s:4Test2B1C3fooyyF",
          "key.bodyoffset" : 1933,
          "key.fully_annotated_decl" : "<decl.function.method.instance><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>foo<\/decl.name>()<\/decl.function.method.instance>",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.parsed_declaration" : "func foo()",
          "key.length" : 13,
          "key.offset" : 1921,
          "key.annotated_decl" : "<Declaration>func foo()<\/Declaration>",
          "key.parsed_scope.end" : 128
        }
      ],
      "key.typeusr" : "$S4Test2B1CmD",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.name" : "B1",
      "key.parsed_scope.start" : 127,
      "key.bodyoffset" : 1916,
      "key.kind" : "source.lang.swift.decl.class",
      "key.length" : 30,
      "key.offset" : 1906,
      "key.nameoffset" : 1912,
      "key.typename" : "B1.Type",
      "key.parsed_scope.end" : 129,
      "key.bodylength" : 19,
      "key.annotated_decl" : "<Declaration>class B1<\/Declaration>"
    },
    {
      "key.runtime_name" : "_TtC4main3SB1",
      "key.parsed_declaration" : "class SB1 : B1",
      "key.fully_annotated_decl" : "<decl.class><syntaxtype.keyword>class<\/syntaxtype.keyword> <decl.name>SB1<\/decl.name> : <ref.class usr=\"s:4Test2B1C\">B1<\/ref.class><\/decl.class>",
      "key.usr" : "s:4Test3SB1C",
      "key.filepath" : "{{ file_path }}",
      "key.namelength" : 3,
      "key.substructure" : [
        {
          "key.parsed_declaration" : "override func foo()",
          "key.fully_annotated_decl" : "<decl.function.method.instance><syntaxtype.keyword>override<\/syntaxtype.keyword> <syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>foo<\/decl.name>()<\/decl.function.method.instance>",
          "key.usr" : "s:4Test3SB1C3fooyyF",
          "key.filepath" : "{{ file_path }}",
          "key.namelength" : 5,
          "key.substructure" : [

          ],
          "key.typeusr" : "$SyycD",
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.name" : "foo()",
          "key.parsed_scope.start" : 132,
          "key.bodyoffset" : 1980,
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.attributes" : [
            {
              "key.length" : 8,
              "key.attribute" : "source.decl.attribute.override",
              "key.offset" : 1959
            }
          ],
          "key.length" : 71,
          "key.offset" : 1968,
          "key.nameoffset" : 1973,
          "key.overrides" : [
            {
              "key.usr" : "s:4Test2B1C3fooyyF"
            }
          ],
          "key.parsed_scope.end" : 136,
          "key.bodylength" : 58,
          "key.typename" : "(SB1) -> () -> ()",
          "key.annotated_decl" : "<Declaration>override func foo()<\/Declaration>"
        }
      ],
      "key.inheritedtypes" : [
        {
          "key.name" : "B1"
        }
      ],
      "key.typeusr" : "$S4Test3SB1CmD",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.name" : "SB1",
      "key.elements" : [
        {
          "key.length" : 2,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 1950
        }
      ],
      "key.parsed_scope.start" : 131,
      "key.bodyoffset" : 1954,
      "key.kind" : "source.lang.swift.decl.class",
      "key.length" : 103,
      "key.offset" : 1938,
      "key.nameoffset" : 1944,
      "key.typename" : "SB1.Type",
      "key.parsed_scope.end" : 137,
      "key.bodylength" : 86,
      "key.annotated_decl" : "<Declaration>class SB1 : <Type usr=\"s:4Test2B1C\">B1<\/Type><\/Declaration>"
    },
    {
      "key.substructure" : [

      ],
      "key.typeusr" : "$S_1sy4Test3SB1C_AB2S2VtcD",
      "key.namelength" : 22,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "test3(_:s:)",
      "key.bodylength" : 38,
      "key.nameoffset" : 2048,
      "key.parsed_scope.start" : 139,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "(SB1, S2) -> ()",
      "key.usr" : "s:4Test5test3_1syAA3SB1C_AA2S2VtF",
      "key.bodyoffset" : 2072,
      "key.fully_annotated_decl" : "<decl.function.free><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>test3<\/decl.name>(<decl.var.parameter><decl.var.parameter.argument_label>_<\/decl.var.parameter.argument_label> <decl.var.parameter.name>c<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.class usr=\"s:4Test3SB1C\">SB1<\/ref.class><\/decl.var.parameter.type><\/decl.var.parameter>, <decl.var.parameter><decl.var.parameter.argument_label>s<\/decl.var.parameter.argument_label>: <decl.var.parameter.type><ref.struct usr=\"s:4Test2S2V\">S2<\/ref.struct><\/decl.var.parameter.type><\/decl.var.parameter>)<\/decl.function.free>",
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.parsed_declaration" : "func test3(_ c: SB1, s: S2)",
      "key.length" : 68,
      "key.offset" : 2043,
      "key.annotated_decl" : "<Declaration>func test3(_ c: <Type usr=\"s:4Test3SB1C\">SB1<\/Type>, s: <Type usr=\"s:4Test2S2V\">S2<\/Type>)<\/Declaration>",
      "key.parsed_scope.end" : 143
    },
    {
      "key.substructure" : [

      ],
      "key.typeusr" : "$SyySizcD",
      "key.namelength" : 21,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "test4(_:)",
      "key.bodylength" : 0,
      "key.nameoffset" : 2118,
      "key.parsed_scope.start" : 145,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "(inout Int) -> ()",
      "key.usr" : "s:4Test5test4yySizF",
      "key.bodyoffset" : 2141,
      "key.fully_annotated_decl" : "<decl.function.free><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>test4<\/decl.name>(<decl.var.parameter><decl.var.parameter.argument_label>_<\/decl.var.parameter.argument_label> <decl.var.parameter.name>a<\/decl.var.parameter.name>: <decl.var.parameter.type><syntaxtype.keyword>inout<\/syntaxtype.keyword> <ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.var.parameter.type><\/decl.var.parameter>)<\/decl.function.free>",
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.parsed_declaration" : "func test4(_ a: inout Int)",
      "key.length" : 29,
      "key.offset" : 2113,
      "key.annotated_decl" : "<Declaration>func test4(_ a: inout <Type usr=\"s:Si\">Int<\/Type>)<\/Declaration>",
      "key.parsed_scope.end" : 145
    },
    {
      "key.runtime_name" : "_TtP4main5Prot2_",
      "key.parsed_declaration" : "protocol Prot2",
      "key.usr" : "s:4Test5Prot2P",
      "key.fully_annotated_decl" : "<decl.protocol><syntaxtype.keyword>protocol<\/syntaxtype.keyword> <decl.name>Prot2<\/decl.name><\/decl.protocol>",
      "key.filepath" : "{{ file_path }}",
      "key.namelength" : 5,
      "key.substructure" : [
        {
          "key.typeusr" : "$S7Element4Test5Prot2PQzmD",
          "key.namelength" : 7,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "Element",
          "key.nameoffset" : 2180,
          "key.parsed_scope.start" : 148,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Self.Element.Type",
          "key.usr" : "s:4Test5Prot2P7ElementQa",
          "key.kind" : "source.lang.swift.decl.associatedtype",
          "key.fully_annotated_decl" : "<decl.associatedtype><syntaxtype.keyword>associatedtype<\/syntaxtype.keyword> <decl.name>Element<\/decl.name><\/decl.associatedtype>",
          "key.parsed_declaration" : "associatedtype Element",
          "key.parsed_scope.end" : 148,
          "key.length" : 22,
          "key.offset" : 2165,
          "key.annotated_decl" : "<Declaration>associatedtype Element<\/Declaration>"
        },
        {
          "key.typeusr" : "$SSiD",
          "key.namelength" : 1,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "p",
          "key.bodylength" : 5,
          "key.nameoffset" : 2196,
          "key.parsed_scope.start" : 149,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Int",
          "key.usr" : "s:4Test5Prot2P1pSivp",
          "key.bodyoffset" : 2205,
          "key.fully_annotated_decl" : "<decl.var.instance><syntaxtype.keyword>var<\/syntaxtype.keyword> <decl.name>p<\/decl.name>: <decl.var.type><ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.var.type> { <syntaxtype.keyword>get<\/syntaxtype.keyword> }<\/decl.var.instance>",
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.parsed_declaration" : "var p : Int",
          "key.length" : 19,
          "key.offset" : 2192,
          "key.annotated_decl" : "<Declaration>var p: <Type usr=\"s:Si\">Int<\/Type> { get }<\/Declaration>",
          "key.parsed_scope.end" : 149
        },
        {
          "key.typeusr" : "$SyycD",
          "key.namelength" : 5,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "foo()",
          "key.nameoffset" : 2221,
          "key.parsed_scope.start" : 150,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "<Self where Self : Prot2> (Self) -> () -> ()",
          "key.usr" : "s:4Test5Prot2P3fooyyF",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.fully_annotated_decl" : "<decl.function.method.instance><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>foo<\/decl.name>()<\/decl.function.method.instance>",
          "key.parsed_declaration" : "func foo()",
          "key.parsed_scope.end" : 150,
          "key.length" : 10,
          "key.offset" : 2216,
          "key.annotated_decl" : "<Declaration>func foo()<\/Declaration>"
        }
      ],
      "key.typeusr" : "$S4Test5Prot2_pmD",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.name" : "Prot2",
      "key.parsed_scope.start" : 147,
      "key.bodyoffset" : 2160,
      "key.kind" : "source.lang.swift.decl.protocol",
      "key.length" : 84,
      "key.offset" : 2144,
      "key.nameoffset" : 2153,
      "key.typename" : "Prot2.Protocol",
      "key.parsed_scope.end" : 151,
      "key.bodylength" : 67,
      "key.annotated_decl" : "<Declaration>protocol Prot2<\/Declaration>"
    },
    {
      "key.parsed_declaration" : "struct S1 : Prot2",
      "key.fully_annotated_decl" : "<decl.struct><syntaxtype.keyword>struct<\/syntaxtype.keyword> <decl.name>S1<\/decl.name> : <ref.protocol usr=\"s:4Test5Prot2P\">Prot2<\/ref.protocol><\/decl.struct>",
      "key.usr" : "s:4Test2S1V",
      "key.filepath" : "{{ file_path }}",
      "key.namelength" : 2,
      "key.substructure" : [
        {
          "key.typeusr" : "$SSimD",
          "key.namelength" : 7,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "Element",
          "key.overrides" : [
            {
              "key.usr" : "s:4Test5Prot2P7ElementQa"
            }
          ],
          "key.nameoffset" : 2264,
          "key.parsed_scope.start" : 154,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Int.Type",
          "key.usr" : "s:4Test2S1V7Elementa",
          "key.kind" : "source.lang.swift.decl.typealias",
          "key.fully_annotated_decl" : "<decl.typealias><syntaxtype.keyword>typealias<\/syntaxtype.keyword> <ref.struct usr=\"s:4Test2S1V\">S1<\/ref.struct>.<decl.name>Element<\/decl.name> = <ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.typealias>",
          "key.parsed_declaration" : "typealias Element = Int",
          "key.parsed_scope.end" : 154,
          "key.length" : 23,
          "key.offset" : 2254,
          "key.annotated_decl" : "<Declaration>typealias <Type usr=\"s:4Test2S1V\">S1<\/Type>.Element = <Type usr=\"s:Si\">Int<\/Type><\/Declaration>"
        },
        {
          "key.typeusr" : "$SSiD",
          "key.namelength" : 1,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "p",
          "key.overrides" : [
            {
              "key.usr" : "s:4Test5Prot2P1pSivp"
            }
          ],
          "key.setter_accessibility" : "source.lang.swift.accessibility.internal",
          "key.nameoffset" : 2286,
          "key.parsed_scope.start" : 155,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "Int",
          "key.usr" : "s:4Test2S1V1pSivp",
          "key.kind" : "source.lang.swift.decl.var.instance",
          "key.fully_annotated_decl" : "<decl.var.instance><syntaxtype.keyword>var<\/syntaxtype.keyword> <decl.name>p<\/decl.name>: <decl.var.type><ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.var.type><\/decl.var.instance>",
          "key.parsed_declaration" : "var p : Int = 0",
          "key.parsed_scope.end" : 155,
          "key.length" : 15,
          "key.offset" : 2282,
          "key.annotated_decl" : "<Declaration>var p: <Type usr=\"s:Si\">Int<\/Type><\/Declaration>"
        },
        {
          "key.typeusr" : "$SyycD",
          "key.namelength" : 5,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "foo()",
          "key.overrides" : [
            {
              "key.usr" : "s:4Test5Prot2P3fooyyF"
            }
          ],
          "key.bodylength" : 0,
          "key.nameoffset" : 2307,
          "key.parsed_scope.start" : 156,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "(S1) -> () -> ()",
          "key.usr" : "s:4Test2S1V3fooyyF",
          "key.bodyoffset" : 2314,
          "key.fully_annotated_decl" : "<decl.function.method.instance><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>foo<\/decl.name>()<\/decl.function.method.instance>",
          "key.kind" : "source.lang.swift.decl.function.method.instance",
          "key.parsed_declaration" : "func foo()",
          "key.length" : 13,
          "key.offset" : 2302,
          "key.annotated_decl" : "<Declaration>func foo()<\/Declaration>",
          "key.parsed_scope.end" : 156
        }
      ],
      "key.inheritedtypes" : [
        {
          "key.name" : "Prot2"
        }
      ],
      "key.typeusr" : "$S4Test2S1VmD",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.name" : "S1",
      "key.elements" : [
        {
          "key.length" : 5,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 2242
        }
      ],
      "key.parsed_scope.start" : 153,
      "key.bodyoffset" : 2249,
      "key.kind" : "source.lang.swift.decl.struct",
      "key.length" : 87,
      "key.offset" : 2230,
      "key.nameoffset" : 2237,
      "key.typename" : "S1.Type",
      "key.parsed_scope.end" : 157,
      "key.bodylength" : 67,
      "key.annotated_decl" : "<Declaration>struct S1 : <Type usr=\"s:4Test5Prot2P\">Prot2<\/Type><\/Declaration>"
    },
    {
      "key.substructure" : [
        {
          "key.typeusr" : "$SxmD",
          "key.namelength" : 1,
          "key.elements" : [
            {
              "key.length" : 5,
              "key.kind" : "source.lang.swift.structure.elem.typeref",
              "key.offset" : 2335
            }
          ],
          "key.filepath" : "{{ file_path }}",
          "key.name" : "T",
          "key.nameoffset" : 2331,
          "key.parsed_scope.start" : 159,
          "key.typename" : "T.Type",
          "key.usr" : "s:4Test6genfooyyxAA5Prot2RzSi7ElementRtzlF1TL_xmfp",
          "key.kind" : "source.lang.swift.decl.generic_type_param",
          "key.fully_annotated_decl" : "<decl.generic_type_param><decl.generic_type_param.name>T<\/decl.generic_type_param.name> : <decl.generic_type_param.constraint><ref.protocol usr=\"s:4Test5Prot2P\">Prot2<\/ref.protocol><\/decl.generic_type_param.constraint><\/decl.generic_type_param>",
          "key.parsed_declaration" : "func genfoo<T : Prot2>(_ x: T) where T.Element == Int {}",
          "key.parsed_scope.end" : 159,
          "key.inheritedtypes" : [
            {
              "key.name" : "Prot2"
            }
          ],
          "key.offset" : 2331,
          "key.length" : 9,
          "key.annotated_decl" : "<Declaration>T : <Type usr=\"s:4Test5Prot2P\">Prot2<\/Type><\/Declaration>"
        }
      ],
      "key.typeusr" : "$Syyxc4Test5Prot2RzSi7ElementRtzluD",
      "key.namelength" : 25,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "genfoo(_:)",
      "key.bodylength" : 0,
      "key.nameoffset" : 2324,
      "key.parsed_scope.start" : 159,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "<T where T : Prot2, T.Element == Int> (T) -> ()",
      "key.usr" : "s:4Test6genfooyyxAA5Prot2RzSi7ElementRtzlF",
      "key.bodyoffset" : 2374,
      "key.fully_annotated_decl" : "<decl.function.free><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>genfoo<\/decl.name>&lt;<decl.generic_type_param usr=\"s:4Test6genfooyyxAA5Prot2RzSi7ElementRtzlF1TL_xmfp\"><decl.generic_type_param.name>T<\/decl.generic_type_param.name><\/decl.generic_type_param>&gt;(<decl.var.parameter><decl.var.parameter.argument_label>_<\/decl.var.parameter.argument_label> <decl.var.parameter.name>x<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.generic_type_param usr=\"s:4Test6genfooyyxAA5Prot2RzSi7ElementRtzlF1TL_xmfp\">T<\/ref.generic_type_param><\/decl.var.parameter.type><\/decl.var.parameter>) <syntaxtype.keyword>where<\/syntaxtype.keyword> <decl.generic_type_requirement>T : <ref.protocol usr=\"s:4Test5Prot2P\">Prot2<\/ref.protocol><\/decl.generic_type_requirement>, <decl.generic_type_requirement>T.Element == <ref.struct usr=\"s:Si\">Int<\/ref.struct><\/decl.generic_type_requirement><\/decl.function.free>",
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.parsed_declaration" : "func genfoo<T : Prot2>(_ x: T) where T.Element == Int",
      "key.length" : 56,
      "key.offset" : 2319,
      "key.annotated_decl" : "<Declaration>func genfoo&lt;T&gt;(_ x: <Type usr=\"s:4Test6genfooyyxAA5Prot2RzSi7ElementRtzlF1TL_xmfp\">T<\/Type>) where T : <Type usr=\"s:4Test5Prot2P\">Prot2<\/Type>, T.Element == <Type usr=\"s:Si\">Int<\/Type><\/Declaration>",
      "key.parsed_scope.end" : 159
    },
    {
      "key.runtime_name" : "_TtP4main5Prot3_",
      "key.parsed_declaration" : "protocol Prot3",
      "key.usr" : "s:4Test5Prot3P",
      "key.fully_annotated_decl" : "<decl.protocol><syntaxtype.keyword>protocol<\/syntaxtype.keyword> <decl.name>Prot3<\/decl.name><\/decl.protocol>",
      "key.filepath" : "{{ file_path }}",
      "key.namelength" : 5,
      "key.substructure" : [
        {
          "key.typeusr" : "$Syyx_xtcD",
          "key.namelength" : 19,
          "key.filepath" : "{{ file_path }}",
          "key.name" : "+(_:_:)",
          "key.nameoffset" : 2410,
          "key.parsed_scope.start" : 162,
          "key.accessibility" : "source.lang.swift.accessibility.internal",
          "key.typename" : "<Self where Self : Prot3> (Self.Type) -> (Self, Self) -> ()",
          "key.usr" : "s:4Test5Prot3P1poiyyx_xtFZ",
          "key.kind" : "source.lang.swift.decl.function.method.static",
          "key.fully_annotated_decl" : "<decl.function.operator.infix><syntaxtype.keyword>static<\/syntaxtype.keyword> <syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>+ <\/decl.name>(<decl.var.parameter><decl.var.parameter.name>x<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.generic_type_param usr=\"s:4Test5Prot3P4Selfxmfp\">Self<\/ref.generic_type_param><\/decl.var.parameter.type><\/decl.var.parameter>, <decl.var.parameter><decl.var.parameter.name>y<\/decl.var.parameter.name>: <decl.var.parameter.type><ref.generic_type_param usr=\"s:4Test5Prot3P4Selfxmfp\">Self<\/ref.generic_type_param><\/decl.var.parameter.type><\/decl.var.parameter>)<\/decl.function.operator.infix>",
          "key.parsed_declaration" : "static func +(x: Self, y: Self)",
          "key.parsed_scope.end" : 162,
          "key.length" : 31,
          "key.offset" : 2398,
          "key.annotated_decl" : "<Declaration>static func + (x: <Type usr=\"s:4Test5Prot3P4Selfxmfp\">Self<\/Type>, y: <Type usr=\"s:4Test5Prot3P4Selfxmfp\">Self<\/Type>)<\/Declaration>",
          "key.substructure" : [

          ]
        }
      ],
      "key.typeusr" : "$S4Test5Prot3_pmD",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.name" : "Prot3",
      "key.parsed_scope.start" : 161,
      "key.bodyoffset" : 2393,
      "key.kind" : "source.lang.swift.decl.protocol",
      "key.length" : 54,
      "key.offset" : 2377,
      "key.nameoffset" : 2386,
      "key.typename" : "Prot3.Protocol",
      "key.parsed_scope.end" : 163,
      "key.bodylength" : 37,
      "key.annotated_decl" : "<Declaration>protocol Prot3<\/Declaration>"
    }
  ],
  "key.offset" : 0,
  "key.diagnostic_stage" : "source.diagnostic.stage.swift.parse",
  "key.length" : 2432
}