{
  "key.substructure" : [
    {
      "key.namelength" : 9,
      "key.elements" : [
        {
          "key.length" : 14,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 18
        }
      ],
      "key.filepath" : "{{ file_path }}",
      "key.name" : "<#MyCls#>",
      "key.runtime_name" : "_TtC4main9<#MyCls#>",
      "key.bodylength" : 0,
      "key.nameoffset" : 6,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.bodyoffset" : 34,
      "key.kind" : "source.lang.swift.decl.class",
      "key.inheritedtypes" : [
        {
          "key.name" : "<#OtherClass#>"
        }
      ],
      "key.length" : 35,
      "key.offset" : 0
    },
    {
      "key.bodylength" : 32,
      "key.namelength" : 12,
      "key.substructure" : [
        {
          "key.namelength" : 0,
          "key.substructure" : [
            {
              "key.namelength" : 8,
              "key.nameoffset" : 63,
              "key.filepath" : "{{ file_path }}",
              "key.kind" : "source.lang.swift.decl.var.local",
              "key.name" : "<#name#>",
              "key.length" : 8,
              "key.offset" : 63
            },
            {
              "key.namelength" : 0,
              "key.bodylength" : 0,
              "key.kind" : "source.lang.swift.stmt.brace",
              "key.nameoffset" : 0,
              "key.filepath" : "{{ file_path }}",
              "key.bodyoffset" : 86,
              "key.length" : 2,
              "key.offset" : 85
            }
          ],
          "key.elements" : [
            {
              "key.length" : 8,
              "key.kind" : "source.lang.swift.structure.elem.id",
              "key.offset" : 63
            },
            {
              "key.length" : 9,
              "key.kind" : "source.lang.swift.structure.elem.expr",
              "key.offset" : 75
            }
          ],
          "key.nameoffset" : 0,
          "key.filepath" : "{{ file_path }}",
          "key.kind" : "source.lang.swift.stmt.foreach",
          "key.length" : 28,
          "key.offset" : 59
        }
      ],
      "key.bodyoffset" : 56,
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.filepath" : "{{ file_path }}",
      "key.nameoffset" : 42,
      "key.name" : "<#test1#>()",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 52,
      "key.offset" : 37
    },
    {
      "key.nameoffset" : 0,
      "key.namelength" : 0,
      "key.offset" : 94,
      "key.length" : 129,
      "key.filepath" : "{{ file_path }}",
      "key.kind" : "source.lang.swift.syntaxtype.comment.mark"
    },
    {
      "key.namelength" : 7,
      "key.nameoffset" : 228,
      "key.filepath" : "{{ file_path }}",
      "key.kind" : "source.lang.swift.decl.var.global",
      "key.name" : "myArray",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.length" : 36,
      "key.offset" : 224
    },
    {
      "key.namelength" : 0,
      "key.bodylength" : 20,
      "key.elements" : [
        {
          "key.length" : 9,
          "key.kind" : "source.lang.swift.structure.elem.expr",
          "key.offset" : 239
        },
        {
          "key.length" : 9,
          "key.kind" : "source.lang.swift.structure.elem.expr",
          "key.offset" : 250
        }
      ],
      "key.kind" : "source.lang.swift.expr.array",
      "key.filepath" : "{{ file_path }}",
      "key.bodyoffset" : 239,
      "key.nameoffset" : 0,
      "key.length" : 22,
      "key.offset" : 238
    }
  ],
  "key.offset" : 0,
  "key.diagnostic_stage" : "source.diagnostic.stage.swift.parse",
  "key.length" : 261,
  "key.syntaxmap" : [
    {
      "key.length" : 5,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 0
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.placeholder",
      "key.offset" : 6
    },
    {
      "key.length" : 14,
      "key.kind" : "source.lang.swift.syntaxtype.typeidentifier",
      "key.offset" : 18
    },
    {
      "key.length" : 4,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 37
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.placeholder",
      "key.offset" : 42
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 59
    },
    {
      "key.length" : 8,
      "key.kind" : "source.lang.swift.syntaxtype.placeholder",
      "key.offset" : 63
    },
    {
      "key.length" : 2,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 72
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.placeholder",
      "key.offset" : 75
    },
    {
      "key.length" : 133,
      "key.kind" : "source.lang.swift.syntaxtype.comment",
      "key.offset" : 91
    },
    {
      "key.length" : 3,
      "key.kind" : "source.lang.swift.syntaxtype.keyword",
      "key.offset" : 224
    },
    {
      "key.length" : 7,
      "key.kind" : "source.lang.swift.syntaxtype.identifier",
      "key.offset" : 228
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.placeholder",
      "key.offset" : 239
    },
    {
      "key.length" : 9,
      "key.kind" : "source.lang.swift.syntaxtype.placeholder",
      "key.offset" : 250
    }
  ]
}