{
  "key.substructure" : [
    {
      "key.runtime_name" : "_TtC4main9<#MyCls#>",
      "key.parsed_declaration" : "class <#MyCls#> : <#OtherClass#>",
      "key.fully_annotated_decl" : "<decl.class><syntaxtype.keyword>class<\/syntaxtype.keyword> <decl.name>&lt;#MyCls#&gt;<\/decl.name> : &lt;#OtherClass#&gt;<\/decl.class>",
      "key.usr" : "s:4Test0016MyCls_nnEyfaHqzaC",
      "key.filepath" : "{{ file_path }}",
      "key.namelength" : 9,
      "key.inheritedtypes" : [
        {
          "key.name" : "<#OtherClass#>"
        }
      ],
      "key.typeusr" : "$S4Test0016MyCls_nnEyfaHqzaCmD",
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.name" : "<#MyCls#>",
      "key.elements" : [
        {
          "key.length" : 14,
          "key.kind" : "source.lang.swift.structure.elem.typeref",
          "key.offset" : 18
        }
      ],
      "key.parsed_scope.start" : 1,
      "key.bodyoffset" : 34,
      "key.kind" : "source.lang.swift.decl.class",
      "key.length" : 35,
      "key.offset" : 0,
      "key.nameoffset" : 6,
      "key.typename" : "<#MyCls#>.Type",
      "key.parsed_scope.end" : 1,
      "key.bodylength" : 0,
      "key.annotated_decl" : "<Declaration>class &lt;#MyCls#&gt; : &lt;#OtherClass#&gt;<\/Declaration>"
    },
    {
      "key.substructure" : [

      ],
      "key.typeusr" : "$SyycD",
      "key.namelength" : 12,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "<#test1#>()",
      "key.bodylength" : 32,
      "key.nameoffset" : 42,
      "key.parsed_scope.start" : 3,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "() -> ()",
      "key.usr" : "s:4Test0016test1_nnEyfaHqzayyF",
      "key.bodyoffset" : 56,
      "key.fully_annotated_decl" : "<decl.function.free><syntaxtype.keyword>func<\/syntaxtype.keyword> <decl.name>&lt;#test1#&gt;<\/decl.name>()<\/decl.function.free>",
      "key.kind" : "source.lang.swift.decl.function.free",
      "key.parsed_declaration" : "func <#test1#> ()",
      "key.length" : 52,
      "key.offset" : 37,
      "key.annotated_decl" : "<Declaration>func &lt;#test1#&gt;()<\/Declaration>",
      "key.parsed_scope.end" : 5
    },
    {
      "key.namelength" : 0,
      "key.nameoffset" : 0,
      "key.filepath" : "{{ file_path }}",
      "key.kind" : "source.lang.swift.syntaxtype.comment.mark",
      "key.name" : "MARK: <gvar>let <name>myArray<\/name> = <array>[<elem-expr><#item1#><\/elem-expr>, <elem-expr><#item2#><\/elem-expr>]<\/array><\/gvar>",
      "key.length" : 129,
      "key.offset" : 94
    },
    {
      "key.typeusr" : "$SSayytGD",
      "key.namelength" : 7,
      "key.filepath" : "{{ file_path }}",
      "key.name" : "myArray",
      "key.nameoffset" : 228,
      "key.parsed_scope.start" : 8,
      "key.accessibility" : "source.lang.swift.accessibility.internal",
      "key.typename" : "[()]",
      "key.usr" : "s:4Test7myArraySayytGvp",
      "key.kind" : "source.lang.swift.decl.var.global",
      "key.fully_annotated_decl" : "<decl.var.global><syntaxtype.keyword>let<\/syntaxtype.keyword> <decl.name>myArray<\/decl.name>: <decl.var.type>[<tuple>()<\/tuple>]<\/decl.var.type><\/decl.var.global>",
      "key.parsed_declaration" : "let myArray = [<#item1#>, <#item2#>]",
      "key.parsed_scope.end" : 8,
      "key.length" : 36,
      "key.offset" : 224,
      "key.annotated_decl" : "<Declaration>let myArray: [()]<\/Declaration>"
    }
  ],
  "key.offset" : 0,
  "key.diagnostic_stage" : "source.diagnostic.stage.swift.parse",
  "key.length" : 261
}