{
  "key.typeusr" : "$S4Test14ViewControllerCmD",
  "key.doc.full_as_xml" : "<Class file=\"{{ file_path }}\" line=\"17\" column=\"7\"><Name>ViewController<\/Name><USR>c:@M@Test@objc(cs)ViewController<\/USR><Declaration>class ViewController : UIViewController<\/Declaration><CommentParts><Abstract><Para>This is the <codeVoice>ViewController<\/codeVoice>’s documentation.<\/Para><\/Abstract><Discussion><Para>It has another paragraph.<\/Para><Warning><Para>And a warning callout.<\/Para><\/Warning><\/Discussion><\/CommentParts><\/Class>",
  "key.filepath" : "{{ file_path }}",
  "key.is_system" : false,
  "key.name" : "ViewController",
  "key.typename" : "ViewController.Type",
  "key.usr" : "c:@M@Test@objc(cs)ViewController",
  "key.kind" : "source.lang.swift.decl.class",
  "key.fully_annotated_decl" : "<decl.class><syntaxtype.keyword>class<\/syntaxtype.keyword> <decl.name>ViewController<\/decl.name> : <ref.class usr=\"c:objc(cs)UIViewController\">UIViewController<\/ref.class><\/decl.class>",
  "key.length" : 14,
  "key.annotated_decl" : "<Declaration>class ViewController : <Type usr=\"c:objc(cs)UIViewController\">UIViewController<\/Type><\/Declaration>",
  "key.offset" : 293
}